@model Plataforma.ViewModels.EmpresasEditViewModel
<h1>Mis Ventas</h1>
<a asp-action="Create">Añadir Empresa</a>

<form asp-controller="Members" asp-action="UploadFile" method="post" onsubmit="myFunction()"
      enctype="multipart/form-data" style="float:right; id="videoUploadFile">
    <span>Enviar ITA</span>
    <input type="file" name="file" accept="application/pdf" />
    <span style="color: red; display:none;" id="errono">Ningún archivo ha sido insertado!</span>
    <span style="color: red; display:none;" id="erropdf">Solo se acepta archivos PDF!</span>
    <button type="submit">Enviar ITA</button>
</form>

<table class="table table-striped table-dark">
    <tr>
        <td scope="col">Nombre Comercial</td>
        <td scope="col">Nombre Empresa</td>
        <td scope="col">Nif Empresa</td>
        <td scope="col"></td>
    </tr>

    @foreach (var items in Model.Empresas)
    {
<tr>
    <td scope="col">@items.Nombre_Comercial</td>
    <td scope="col">@items.Nombre_Empresa</td>
    <td scope="col">@items.Nif</td>

    <td scope="col">
        <a asp-action="Edit" asp-route-id="@items.Id">Datos</a> |
        <a asp-action="Editar" asp-route-id="@items.Id">Modificar</a> |


    </td>
</tr>
            }
        
    </table>

