@model Plataforma.ViewModels.ContratoEncomiendaViewModel
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>



    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

    <title>Contrato Encomienda</title>

    <link href="css/estilo2.css" rel="stylesheet" type="text/css" />

</head>


<style>


    .texto {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 18px;
    }

    .texto2 {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 16px;
    }

    .textoboni {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 18px;
        color: #F00;
    }

    .cert {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 20px;
    }



    .cert2 {
        width: 2450px;
        height: 842px;
    }



    .certTITULO {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 25px;
        font-weight: bold;
    }

    .certazul {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 20px;
        color: #000;
    }

    .tablanombre {
        background-color: #058523;
        border: thin #0F0;
        font-size: 24px;
        color: #FFF;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }



    .tablanombre2 {
        background-color: skyblue;
        border: thin #00197A;
        font-size: 24px;
        color: #FFF;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }



    .table {
        height: 842px;
        width: 595px;
    }

    .firma {
        background-repeat: no-repeat;
        background-size: cover;
    }



    /* Style Definitions */

    p.MsoNormal, li.MsoNormal, div.MsoNormal {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 8.0pt;
        margin-left: 0cm;
        line-height: 107%;
        font-family: "Calibri",sans-serif;
    }

    .MsoChpDefault {
        font-family: "Calibri",sans-serif;
    }

    .MsoPapDefault {
        margin-bottom: 8.0pt;
        line-height: 107%;
    }



    div.WordSection1 {
        page: WordSection1;
    }



    .texto11 {
        font-size: 21px;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        line-height: 5px;
    }



    .texto12 {
        font-size: 28px;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }



    .texto {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 18px;
    }

    .texto2 {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 16px;
    }

    .textoboni {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 18px;
        color: #F00;
    }

    .cert {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 20px;
    }

    .cert2 {
        width: 2450px;
        height: 842px;
    }

    .certTITULO {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 25px;
        font-weight: bold;
    }

    .certazul {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 20px;
        color: #000;
    }

    .tablanombre {
        background-color: #058523;
        border: thin #0F0;
        font-size: 24px;
        color: #FFF;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }

    .tablanombre2 {
        background-color: skyblue;
        border: thin #00197A;
        font-size: 24px;
        color: #FFF;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }

    .table {
        height: 842px;
        width: 595px;
        ;
    }

    .firma {
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 8.0pt;
        margin-left: 0cm;
        line-height: 107%;
        font-family: "Calibri",sans-serif;
    }

    .MsoChpDefault {
        font-family: "Calibri",sans-serif;
    }

    .MsoPapDefault {
        margin-bottom: 8.0pt;
        line-height: 107%;
    }

    div.WordSection1 {
        page: WordSection1;
    }

    .texto11 {
        font-size: 21px;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        line-height: 5px;
    }

    .texto12 {
        font-size: 28px;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }
</style>
<body>



    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="texto">

        <tbody>
            <tr>

                <td align="center">
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>

                    <table width="800" border="0" cellspacing="0" cellpadding="0">

                        <tbody>
                            <tr>

                                <td align="left"><img src="http://plataforma-dev.us-east-2.elasticbeanstalk.com/PRL/tri2.PNG" width="250" height="75" /></td>

                                <td align="left"><img src="http://plataforma-dev.us-east-2.elasticbeanstalk.com/PRL/EBR-.jpg" width="216" height="100" /></td>

                                <td align="right"><img src="http://plataforma-dev.us-east-2.elasticbeanstalk.com/PRL/euro.jpg" width="126" height="100" /></td>

                            </tr>

                        </tbody>
                    </table>



                    <table width="1000" border="0" cellspacing="0" cellpadding="0">

                        <tbody>
                            <tr>

                                <td>
                                    <p>
                                        <strong>CONTRATO&nbsp; DE ENCOMIENDA&nbsp; DE ORGANIZACIÓN DE LA FORMACIÓN SUSCRITO  ENTRE&nbsp; EMPRESAS AL AMPARO DE LOS ARTÍCULOS 9.3 Y 12.1 DE LA LEY 30/2015, DE 9 DE SEPTIEMBRE, POR LA QUE SE REGULA EL SISTEMA DE FORMACIÓN PROFESIONAL PARA EL EMPLEO EN EL ÁMBITO LABORAL Y DEL ARTÍCULO 14.3 DEL REAL DECRETO 694/2017, DE 3 JULIO, QUE DESARROLLA LA CITADA LEY.</strong><br />

                                        <br />

                                        <strong>DON&nbsp; JORDI MUNTANÉ PAVILLARD</strong>,  con número de <strong><u>DNI 37636273-Q</u></strong> en nombre y representación de la mercantil&nbsp; <strong><u>EUROBRAZIL INVESTMENTS S.L.U</u></strong> con número de <strong>NIF B<u>66335472</u></strong> con domicilio en la <strong>GRAN VIA DE LES CORTS CATALANES 584 ( 08011</strong>)  de Barcelona <br />

                                        <br />

                                    </p>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                    <br />

                    <table width="1000" border="1" cellspacing="2" cellpadding="2">

                        <tbody>
                            <tr class="texto">

                                <td bgcolor="#999999"><strong>DATOS DE LA EMPRESA AGRUPADA</strong></td>

                                <td bgcolor="#CCCCCC"><strong>AD:</strong></td>

                                <td>
                                    <strong>

                                        JAS
                                    </strong>
                                </td>

                                <td bgcolor="#CCCCCC"><strong>CODIGO:</strong></td>

                                <td>__</td>

                                <td bgcolor="#CCCCCC"><strong>Agente :</strong></td>

                                <td>
                                    <strong>

                                        EBR
                                    </strong>
                                </td>

                            </tr>

                        </tbody>
                    </table>



                    <table width="1000" border="1" cellspacing="2" cellpadding="2">

                        <tbody>
                            <tr>

                                <td width="127" bgcolor="#CCCCCC"><strong>RAZON SOCIAL</strong></td>

                                <td width="371">@Model.Empresas.Nombre_Empresa</td>

                                <td width="61" bgcolor="#CCCCCC"><strong>C.I.F.</strong></td>

                                <td width="141">
                                    <strong>

                                        @Model.Empresas.Nif
                                    </strong>
                                </td>

                            </tr>

                        </tbody>
                    </table>



                    <table width="1000" border="1" cellspacing="2" cellpadding="2">

                        <tbody>
                            <tr>

                                <td width="100" bgcolor="#CCCCCC"><strong>NOMBRE COMERCIAL</strong></td>

                                <td width="134">
                                    <strong>

                                        @Model.Empresas.Nombre_Comercial
                                    </strong>
                                </td>

                                <td width="80" bgcolor="#CCCCCC"><strong>Persona contacto</strong></td>

                                <td width="134">
                                    <strong>

                                        @Model.Empresas.Nombrereprensentante
                                    </strong>
                                </td>

                            </tr>

                        </tbody>
                    </table>



                    <table width="1000" border="1" cellspacing="2" cellpadding="2">

                        <tbody>
                            <tr>

                                <td width="106" bgcolor="#CCCCCC"><strong>DOMICILIO</strong></td>

                                <td width="466">@Model.Empresas.Direccion</td>

                                <td width="28" bgcolor="#CCCCCC"><strong>C.P.</strong></td>

                                <td width="100">
                                    <strong>

                                        @Model.Empresas.Cp
                                    </strong>
                                </td>

                            </tr>

                        </tbody>
                    </table>



                    <table width="1000" border="1" cellspacing="2" cellpadding="2">

                        <tbody>
                            <tr>

                                <td width="102" bgcolor="#CCCCCC"><strong>LOCALIDAD</strong></td>

                                <td width="361">
                                    <strong>

                                        @Model.Empresas.Localidad
                                    </strong>
                                </td>

                                <td width="97" bgcolor="#CCCCCC"><strong>PROVINCIA</strong></td>

                                <td width="140">
                                    <strong>

                                        BARCELONA
                                    </strong>
                                </td>

                            </tr>

                        </tbody>
                    </table>



                    <table width="1000" border="1" cellspacing="2" cellpadding="2">

                        <tbody>
                            <tr>

                                <td width="108" bgcolor="#CCCCCC"><strong>TELEFONO</strong></td>

                                <td width="243">
                                    <strong>

                                        933132259// JORDI 691212300
                                    </strong>
                                </td>

                                <td width="63" bgcolor="#CCCCCC"><strong>E-MAIL</strong></td>

                                <td width="286">
                                    <strong>

                                        @Model.Empresas.email
                                    </strong>
                                </td>

                            </tr>

                        </tbody>
                    </table>



                    <table width="1000" border="1" cellspacing="2" cellpadding="2">

                        <tbody>
                            <tr>

                                <td width="299" bgcolor="#CCCCCC"><strong>ACTIVIDAD PRINCIPAL</strong></td>

                                <td width="401">
                                    <strong>

                                        @Model.Empresas.actividadprincial
                                    </strong>
                                </td>

                            </tr>

                            <tr>

                                <td bgcolor="#CCCCCC"><strong>CONVENIO COLECTIVO SECTORIAL</strong></td>

                                <td>
                                    <strong>
                                        @{ var Convenio = "";
                                            switch (Model.curso.CursoNome)
                                            {
                                                case "Prevención de Riesgos Laborales en Hosteleria":
                                                    Convenio = "Hosteleria";
                                                    break;
                                                case "Prevención de Riesgos Laborales en Peluquerias":
                                                    Convenio = "Peluquerias y otros";
                                                    break;



                                            };

                                        }
                                        @Convenio

                                    </strong>
                                </td>


                            </tr>


                        </tbody>

                    </table>




                    <table width="1000" border="1" cellpadding="2" cellspacing="2" class="texto">

                        <tbody>
                            <tr>

                                <td width="377" bgcolor="#CCCCCC">
                                    <strong>
                                        HORAS DEL CONVENIO ANUAL<br />

                                    </strong>Para empresas de más de 8    trabajadores
                                </td>

                                <td width="44">&nbsp;</td>

                                <td width="310" bgcolor="#CCCCCC"><strong>Nº INSCRIPCION SEGURIDAD SOCIAL</strong></td>

                                <td width="233">

                                    <strong>

                                        @Model.Empresas.seguridad_social
                                    </strong>

                                </td>


                            </tr>


                        </tbody>

                    </table>




                    <table width="1000" border="1" cellspacing="2" cellpadding="2">


                        <tbody>

                            <tr>


                                <td width="93" bgcolor="#CCCCCC"><strong>CNAE</strong></td>


                                <td width="269">

                                    <strong>

                                        @Model.Empresas.CNAE
                                    </strong>

                                </td>


                                <td width="262" bgcolor="#CCCCCC"><strong>PLANTILLA MEDIA AÑO @DateTime.Today.AddYears(-1).Year </strong>></td>

                                <td width="76">&nbsp;</td>

                            </tr>

                        </tbody>
                    </table>

                    <br />

                    <table width="1000" border="1" align="center" cellpadding="0" cellspacing="2" class="texto">

                        <tbody>
                            <tr>

                                <td><strong>¿EXISTE REPRESENTACIÓN LEGAL DE LOS    TRABAJADORES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    </strong></td>

                                <td>En caso    afirmativo cumplimentar documento adjunto “Información a la RLT”</td>

                            </tr>

                            <tr>

                                <td><strong>EMPRESA DE NUEVA CREACIÓN&nbsp;&nbsp;&nbsp; No</strong></td>

                                <td><strong>FECHA DE CREACIÓN : </strong></td>

                            </tr>

                            <tr>

                                <td><strong>DIRECCIÓN DE ENTREGA DE MATERIAL</strong></td>

                                <td><strong>LA MISMA</strong></td>

                            </tr>

                            <tr>

                                <td><strong>CREDITO PARA FORMACIÓN DISPONIBLE    ANUAL</strong></td>

                                <td><strong> @Model.Empresas.creditodisponible</strong></td>

                            </tr>

                        </tbody>
                    </table>

                    <br />

                    <table width="1000" border="1" cellpadding="0" cellspacing="2" class="texto">

                        <tbody>
                            <tr>

                                <td colspan="2" valign="top"><p><strong>INFORMACIÓN    PARA EL COBRO DE LA FORMACIÓN</strong></p></td>

                            </tr>

                            <tr>

                                <td width="361" valign="top"><p><strong>BANCO    / CAJA :</strong></p></td>

                                <td width="627" valign="top"><p><strong>Nº    C/C :</strong></p></td>

                            </tr>

                        </tbody>
                    </table>

                    <br />

                    <table width="1000" border="1" cellpadding="2" cellspacing="2" class="texto">

                        <tbody>
                            <tr>

                                <td colspan="4" align="center" bgcolor="#999999"><strong>DATOS DE GESTORIA</strong></td>

                            </tr>

                            <tr>

                                <td width="246" bgcolor="#CCCCCC"><strong>PERSONA DE CONTACTO</strong></td>

                                <td colspan="3">Oscar&nbsp;</td>

                            </tr>

                            <tr>

                                <td bgcolor="#CCCCCC"><strong>EMAIL</strong></td>

                                <td width="302">@Model.Empresas.email</td>

                                <td width="103" bgcolor="#CCCCCC"><strong>TELEFONO</strong></td>

                                <td width="313">@Model.Empresas.Telefono</td>

                            </tr>

                        </tbody>
                    </table>

                    <br />

                    <table width="900" border="0" cellspacing="0" cellpadding="0">

                        <tbody>
                            <tr>

                                <td>
                                    <p>
                                        <strong><u>ACUERDAN</u></strong><br />

                                        <strong><u>PRIMERO.- OBJETO</u></strong><br />

                                        El presente contrato tiene por  objeto regular la relación que se establece entre las empresas que van a  proporcionar formación&nbsp; a sus  trabajadores y entidad externa que tiene encomendada&nbsp; su organización de acuerdo con los artículos  10.3 y 13 del Real Decreto Ley 4/2015 de 22 de Marzo&nbsp; para la reforma Urgente del Sistema de  Formación Profesional para el Empleo en el ámbito Laboral ( en adelante Decreto  Ley) y demás normativa de aplicación en especial la Orden TAS/2307/2007 de 27  de Julio , por la que se desarrolla parcialmente el Real Decreto 395/2007 de 23  de Marzo , por el que regula el subsistema de formación profesional&nbsp; para el empleo en materia de formación de  demanda y su financiación
                                    </p>

                                    <p>
                                        <strong><u>SEGUNDO.-&nbsp; ENTIDAD EXTERNA </u></strong><br />

                                        A los efectos de este contrato de  acuerdo con lo previsto en el art 10.3 del Decreto Ley, las empresas acuerdan  encomendar la organización de la formación a la entidad externa EUROBRAZIL  INVESTIMENTS S.L.U <br />

                                        <br />

                                        2.- Asegurar el desarrollo  satisfactorio de las acciones formativas <br />

                                        <br />

                                        3.- Asegurar las funciones de  seguimiento y control y evaluación de las acciones formativas.
                                    </p>

                                    <p>
                                        <strong><u>TERCERO.-  OBLIGACIONES DE LA ENTIDAD EXTERNA</u></strong><br />

                                        Serán obligaciones de la entidad <strong><u>EUROBRAZIL INVESTMENTS S.LU</u></strong>&nbsp; las siguientes <br />



                                        1.- Comunicar el Inicio y  Finalización de la acciones formativas programadas por las empresa ante la  administración a través de los procesos telemáticos implantados por el Servicio  Público de Empleo

                                        <br />

                                        2.- Asegurar el desarrollo  satisfactorio de las acciones formativas

                                        <br />

                                        3.- Asegurar las funciones de  seguimiento , control y evaluación de las acciones formativas<br />

                                        4.-&nbsp;&nbsp; Asegurar la adecuación de la formación  realizada a las necesidades formativas reales de la empresa

                                        <br />

                                        5.- Contratar a entidades de  formación acreditadas y o inscritas en el Registro Estatal de Entidades de  Formación para la impartición de las actuaciones formativas, salvo en el caso  de tratarse de la misma entidad <br />

                                        6.- Facilitar a cada una de las  empresas que suscribe el presente contrato la documentación relacionada con la  organización y gestión e&nbsp; impartición de  las acciones formativas, así como la información necesaria para la correcta  aplicación de las bonificaciones por parte de dichas empresas <br />

                                        7.- Someterse a las actuaciones  de comprobación, seguimiento y control que realicen las administraciones  públicas competentes y los demás órganos&nbsp;  de control y asegurándose de su satisfactorio desarrollo.<br />

                                        8.- Todas aquellas obligaciones  establecidas en la Orden TAS/ 2307/2007de 23 de Julio por la que se desarrolla  parcialmente el Real Decreto 395/2007 de 23 de Marzo por el que se regula el  subsistema de formación profesional para el empleo en materia de formación de  demanda y su financiación relacionadas con la formación programada por las  empresas para las que organiza la formación de sus trabajadores <br />

                                        9.- Otras obligaciones que en su  caso las partes acuerden relacionadas con la planificación de las acciones  formativas&nbsp; a realizar, selección de  centros de impartición , permisos individuales&nbsp;  de formación de programación del calendario de impartición y cualquier  otra que contribuya a facilitar el desarrollo de la formación en el empleo<br />

                                        10. Custodiar&nbsp; el presente contrato manteniéndolo a  disposición de los órganos de control competentes, indicados en la normativa  vigente así como la restante documentación relacionada con la organización,  gestión&nbsp; e impartición de la formación  puede ser requerida por las administraciones u órganos de control competentes y  por la fundación Tripartita para la formación de Empleo <br />



                                        <strong><u>CUARTO.- OBLIGACIONES DE LAS EMPRESAS </u></strong><br />

                                        La empresa que suscribe este  contrato tendrán las siguientes obligaciones <br />



                                        1.- Identificar en cuenta  separada o epígrafe específico de su contabilidad&nbsp; bajo la denominación de formación Profesional  para el empleo&nbsp; todos los gastos de las  acciones formativas y permisos individuales<br />



                                        2.- Someterse&nbsp; a las actuaciones de comprobación,  seguimiento y control de las Administraciones Competentes <br />



                                        3.- Custodiar la documentación  relacionada con la organización, gestión e impartición de las acciones  formativas <br />

                                        facilitadas por la entidad externa, de acuerdo con los modelos  puestos a disposición por la Fundación Tripartita para la formación del Empleo <br />



                                        4.- Garantizar la gratuidad de  las acciones <br />



                                        5.- Hallarse la empresa al  corriente de pago frente a la Agencia Tributaria y Seguridad Social <br />



                                        <strong><u>QUINTO.- Costes de la Organización de la formación</u></strong><br />

                                        Estos costes no podrán superar el  10% del coste de la actividad formativa , si bien podrán alcanzar hasta un  máximo de un 15% en caso de acciones formativas , dirigidas a&nbsp; trabajadores de empresas que cuenten entre 6  y 9 trabajadores en plantilla y un máximo de 20% en caso de las empresas con hasta  5 trabajadores en plantilla.
                                    </p>

                                    <p>
                                        <strong><u>SEXTO.- ADHESION DE OTRAS EMPRESAS </u></strong><br />

                                        Las partes podrán acordar la  posibilidad de que otras empresas se adhieran al presente contrato. A tales  efectos, las entidades interesadas suscribirán&nbsp;  el correspondiente documento de adhesión.- Para ello se delega en la  entidad externa la facultad de representar a la empresa en la suscripción de  la adhesión en cuestión. Se podrán indicar aquí si las partes consideran  conveniente las características sector territorio plantilla etc.- que deban  concurrir en las empresas que deseen adherirse al presente contrato.<br />

                                        <br />

                                        <strong><u>SEPTIMO.- DESESTIMIENTO UNILATERAL</u></strong> ,. Cualquier empresa que  haya suscrito el contrato podrá desistir del mismo con anterioridad de su  finalización, sin perjuicio de las obligaciones contraídas durante su vigencia.<br />

                                        Lo anterior deberá instrumentarse  Jurídicamente mediante documento firmado por ambas partes <br />

                                        <br />

                                        <strong><u>OCTAVO.- PROTECCION DE DATOS &nbsp;&nbsp;</u></strong>&nbsp;Los firmantes del presente contrato  garantizarán el cumplimiento de lo establecido en la Ley Orgánica 15/1999 de 13  de Diciembre de protección de datos de carácter personal asumiendo las  obligaciones y responsabilidades que se derivan de la misma y de la suscripción  del presente documento.<br />

                                        <br />

                                        Todos los datos de carácter  personal que se comuniquen por razón de objeto de este contrato tendrán  carácter confidencial y serán utilizados exclusivamente para los propósitos del  contrato, sin que se puedan aplicar a un fin distinto ni tampoco&nbsp; comunicarlos, ni siquiera para su mera  conservación, a&nbsp; otras personas. Esta  obligación se mantendrá vigente incluso después de laterminación de la vigencia  del contrato, por cualquier razón que fuere .

                                        <br />

                                        Las partes adoptarán las medidas  de índole técnica y organizativas necesarias que garanticen la seguridad de los  datos y evite su alteración , pérdida, tratamiento o acceso no autorizado ,  habida cuenta del estado de la tecnología , la naturaleza de los datos  almacenados y los riesgos que están expuestos, ya provengan&nbsp; de la acción humana o&nbsp; del medio físico o natural.<br />

                                        <br />

                                        <strong><u>NOVENO.</u>- Entrada en Vigor y vigencia del contrato</strong><br />

                                        <br />

                                        El presente contrato entrará en  Vigor el día de su firma por las partes<br />

                                        <br />

                                        En&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.Empresas.Localidad &nbsp;&nbsp;&nbsp; a&nbsp;  @DateTime.Now.Day &nbsp;&nbsp;&nbsp; de @DateTime.Now.ToString("MMMM", new System.Globalization.CultureInfo("es-ES")) &nbsp;  de @DateTime.Now.Year
                                    </p>
                                </td>

                            </tr>

                        </tbody>
                    </table>



                    <table border="1" cellspacing="0" cellpadding="0" width="1000">

                        <tbody>
                            <tr>

                                <td width="329" valign="top">
                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>

                                    <p>
                                         @Model.Empresas.Nombrereprensentante<br />

                                         @Model.Empresas.nifrepresentante
                                    </p>
                                </td>

                                <td width="343" valign="top" align="center">

                                    <img src="http://plataforma-dev.us-east-2.elasticbeanstalk.com/PRL/firma.png" width="423" height="200" />

                                    <br />

                                    DNI&nbsp;&nbsp;&nbsp; 37636273 Q<p></p>
                                </td>

                            </tr>

                            <tr>

                                <td width="329" valign="top"><p>FIRMA (Por representante legal de la empresa)</p></td>

                                <td width="343" valign="top"><p>FIRMA (Por representante legal de la entidad    externa)</p></td>

                            </tr>

                        </tbody>
                    </table>
                </td>

            </tr>

            <tr>

                <td align="center">&nbsp;</td>

            </tr>

        </tbody>

    </table>



</body>

</html>