@model Plataforma.ViewModels.ContratoEncomiendaViewModel 
<div id="divbody">



    <h3 id="titulo"><strong>DATOS DE LA EMPRESA</strong></h3><br><br>



    <a id="datos"><strong>Nombre o razón social:</strong> @Model.Empresas.Nombre_Empresa</a><br><br>



    <a id="datos"><strong>NIF:</strong> @Model.Empresas.Nif</a><br><br>



    <a id="datos"><strong>Domicilio social:</strong>@Model.Empresas.Direccion</a><br><br>



    <a id="datos"><strong>Población:</strong> @Model.Empresas.Provincia</a>  <a id="datos">           <strong>Código Postal:</strong> @Model.Empresas.Cp</a><br><br>



    <a id="datos"><strong>Provincia:</strong> @Model.Empresas.Provincia</a><br><br>



    <a id="datos"><strong>Teléfono:</strong> @Model.Empresas.Telefono</a><br><br>



    <a id="datos">
        <strong>Actividad económica:</strong> @Model.Empresas.actividadprincial<br><br>



    </a><a id="datos"><strong>Centro de trabajo (oficina, taller, etc.):</strong></a><input placeholder="..." type="text"><br><br>



    <a id="datos"><strong>Superficie construida:</strong></a><input placeholder="..." type="text"><br><br>



    <a id="datos">
        <strong>Número de trabajadores:</strong><input placeholder="..." type="text"><br><br>



    </a><a id="datos"><strong>Realizada la evaluación de riesgos (fecha):</strong></a><input placeholder="..." type="text"><br><br>



    <a id="datos"><strong>Realizada la Renovación de la Evaluación (fecha):</strong></a><input placeholder="..." type="text"><br><br>



    <a id="datos">
        <strong>Responsable de la Prevención:</strong> JORDI PUIG NAVARRO<br><br>



        <span style="font-size: 30px;float:right;margin-top:40%"><span lang="es-ES"><strong>4</strong></span></span>

        <br style="page-break-after:always;">




        <br><br><br><br><table width="100%" style="page-break-after:always;page-break-before:always;">

            <tbody>
                <tr>

                    <th colspan="3" class="title">

                        TRABAJADORES<br><br><br>

                    </th>



                </tr>
                @foreach (var item in Model.trabajadores)
                {

                    <tr>

                        <td width="40%">

                            @item.TrabajadorNome
                        </td>

                        <td width="20%">

                            @item.TrabajadorNif
                        </td>

                        <td width="40%">
                        </td>

                    </tr>

                }



            </tbody>
        </table>



















































        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">







        <title>INFORMACIóN DE LA VIGILANCIA</title>















        <style>







            body {
                font-family: arial, sans-serif;
            }







            li {
                padding: 10px 10px
            }



            #titulo {
                position: relative;
                left: 6cm;
                font-size: 30px;
            }







            table, td {
                border-collapse: collapse;
                border: 1px solid black;
            }







            td {
                padding: 10px 10px;
            }







            input {
                border: none;
            }







            #responsable {
                position: relative;
                left: 2cm;
            }







            #numpag {
                float: right;
            }
        </style>













































        <div id="divbody">







            <h4><u>3. OBJETIVOS</u></h4><br><br>







            Un Plan de Prevención debe marcarse objetivos realizables y definidos para un periodo determinado de tiempo. El objetivo que se pretende es avanzar, día a día ,



            para poder obtener mejoras en los siguientes puntos :<br>







            <ul>



                <li>Cumplir siempre con la legislación vigente.</li>



                <li>Disminuir la frecuencia y la gravedad de los accidentes e incidentes. El objetivo final es conseguir cero accidentes/incidentes y enfermedades profesionales.</li>



                <li>Reducir los niveles de riesgos que aparecen en la Evaluación de Riesgos.</li>



                <li>Integrar la prevención dentro de todos los niveles de la organización de la empresa.</li>



            </ul>



            <br>



            <h4><u>4. IDENTIFICACIÓN DE LA EMPRESA</u></h4><br><br>







            <table widtd="100%">







                <tbody>
                    <tr>



                        <td>



                            Nombre de la empresa:



                        </td>



                        <td>



                            @Model.Empresas.Nombre_Empresa


                        </td>



                    </tr>
                    <tr>
                    </tr>
                    <tr>



                        <td>



                            Domicilio social:



                        </td>



                        <td>



                            @Model.Empresas.Direccion


                        </td>



                    </tr>
                    <tr>
                    </tr>
                    <tr>



                        <td>



                            Localidad:



                        </td>



                        <td>



                            BARCELONA


                        </td>



                    </tr>
                    <tr>
                    </tr>
                    <tr>



                        <td>



                            Teléfono de contacto :



                        </td>



                        <td>



                            933132259// JORDI 691212300


                        </td>



                    </tr>
                    <tr>
                    </tr>
                    <tr>



                        <td>



                            Email:



                        </td>



                        <td>



                            @Model.Empresas.email


                        </td>



                    </tr>
                    <tr>
                    </tr>
                    <tr>



                        <td>



                            Persona de contacto :



                        </td>



                        <td>



                            JORDI PUIG NAVARRO


                        </td>



                    </tr>
                    <tr>
                    </tr>
                    <tr>



                        <td>



                            Sector Económico :



                        </td>



                        <td>
                        </td>



                    </tr>
                    <tr>
                    </tr>
                    <tr>



                        <td>



                            Actividad :



                        </td>



                        <td>



                            Peluqueria y otros


                        </td>



                    </tr>
                    <tr>
                    </tr>
                    <tr>



                        <td>



                            Num Trabajadores :



                        </td>



                        <td>


                            @{var count = 0; }
                            @foreach (var item in Model.trabajadores)
                            {
                                count++;
                            }
                            @count
                        </td>



                    </tr>
                    <tr>
                    </tr>
                    <tr>



                        <td>



                            NIF :



                        </td>



                        <td>



                            @Model.Empresas.Nif


                        </td>



                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>



            <span style="font-size: 30px; float:right;"><span lang="es-ES"><strong>7</strong></span></span>



            <p lang="ca-ES" align="justify" style="page-break-after: always;margin-top:25%"></p>



           



        </div>



        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">



        <title>RECURSOS ECONOMICS</title>







        <style>



            body {
                font-family: arial, sans-serif;
            }



            #titulo {
                position: relative;
                left: 6cm;
                font-size: 30px;
            }



            table, td {
                font-size: 15px;
                border: 1px solid black;
            }



            input {
                border: none;
                font-size: 15px;
            }



            th {
                font-size: 20px;
                border: 1px solid black;
            }



            #responsable {
                position: relative;
                left: 2cm;
            }



            #numpag {
                float: right;
            }



            #table {
                width: 100%;
                height: 20cm;
            }
        </style>





















    </a><div id="divbody">
        <a id="datos">



            <h3><strong>1. RECURSOS ECONOMICOS</strong></h3><br>



            <table id="table">



                <tbody>
                    <tr>



                        <th>CONCEPTO</th>



                        <th>IMPORTE</th>



                    </tr>



                    <tr>



                        <td>Reconocimientos médicos anuales</td>



                        <td><input placeholder="..." type="text"></td>



                    </tr>



                    <tr>



                        <td>Reconocimientos médicos expecíficos</td>



                        <td><input placeholder="..." type="text"></td>



                    </tr>



                    <tr>



                        <td>Equipo de protección individual</td>



                        <td><input placeholder="..." type="text"></td>



                    </tr>



                    <tr>



                        <td>mantenimiento de los equipos de trabajo</td>



                        <td><input placeholder="..." type="text"></td>



                    </tr>



                    <tr>



                        <td>Mantenimiento de los sistemas de protección </td>



                        <td><input placeholder="..." type="text"></td>



                    </tr>



                    <tr>



                        <td>Mantenimiento periódico de los medios de lucha contra incendios</td>



                        <td><input placeholder="..." type="text"></td>



                    </tr>



                    <tr>



                        <td>Acciones correctoras que se desprenden de la Evaluación Inicial de Riesgos y posteriores revisiones</td>



                        <td><input placeholder="..." type="text"></td>



                    </tr>



                    <tr>



                        <td>Otros relacionados con la protección</td>



                        <td><input placeholder="..." type="text"></td>



                    </tr>



                    <tr>



                        <td>Formación de los trabajadores</td>



                        <td><input placeholder="..." type="text"></td>



                    </tr>



                    <tr>



                        <td><strong>TOTAL</strong></td>



                        <td><input placeholder="..." type="text"></td>



                    </tr>



                </tbody>
            </table>

            <br>







            <h3><strong>2. PROCESOS, PROCEDIMIENTOS Y PRÁCTICAS</strong></h3><br>







            Todos los procedimientos necesarios para una correcta gestión de la prevención de riesgos laborales se irán elaborando



            y adaptando como parte de la actividad preventiva prevista en el Plan de Prevención, estando recogidos en el Manual de Gestión de la Prevención. <br><br><br><br><br><br><br><br>


        </a><a style="float:right;">11</a><a>

            <div style="page-break-after: always;"></div>








            Por la presente la Dirección de la empresa: @Model.Empresas.Nombre_Empresa<br>







            Establece que el modelo organizativo en materia preventiva será el que a continuación se indica:  <br><br>







        </a><form>
            <a>



                <input type="radio" name="gender" value="1" checked="">Asunción por parte del empresario.<br><br>



            </a><a id="responsable">
                Responsable: ...............................................................<br>

                DNI:  ...................................
            </a><br><br>







            <input type="radio" name="gender" value="2">Designación de uno o varios trabajadores.<br><br>



            <a id="responsable">
                Trabajador :  <input placeholder="..." type="text"><br>



                DNI:  <input placeholder="..." type="text"><br>



                Trabajador :  <input placeholder="..." type="text"><br>



                DNI:  <input placeholder="..." type="text"><br><br>
            </a>



            <input type="radio" name="gender" value="3">Contratación de Servicio de Prevención Ajeno.<br><br>



            <input type="radio" name="gender" value="4">Constitución de Servicio de Prevención Propio.<br><br>



        </form>



        * La vigilancia de la salud concierto con servicio externo<br><br>







        En BARCELONA, a <input placeholder="..." type="text"> de <input placeholder="..." type="text"> de @DateTime.Now.Year<br><br><br><br>LA DIRECCIÓN



        <a style="float:right;margin-top:25%;">12</a><a>



        </a>
    </div><a>







































        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">



        <title>INFORMACIóN DE LA VIGILANCIA</title>







        <style>



            body {
                font-family: arial, sans-serif;
                font-size: 20px;
            }



            #titulo {
                position: relative;
                left: 6cm;
                font-size: 30px;
            }



            table, td {
                font-size: 15px;
                border: 1px solid black;
            }



            input {
                border: none;
                font-size: 15px;
            }



            th {
                font-size: 20px;
                border: 1px solid black;
            }



            #responsable {
                position: relative;
                left: 2cm;
            }



            #numpag {
                position: absolute;
                bottom: 8px;
                right: 16px;
            }
        </style>




















    </a>
    @foreach (var item in Model.trabajadores)
    {
        <div id="divbody" style="page-break-before: always;">
            <a>



                <h3><strong>INFORMACIÓN DE LA REVISIÓN MÉDICA ANUAL AL TRABAJADOR / RA</strong></h3><br><br>



                En BARCELONA, a <input placeholder="..." type="text"> de <input placeholder="..." type="text"> de @DateTime.Now.Year<br><br>











                Por el presente le hago saber que de acuerdo con la Ley de Prevención de Riesgos Laborales 31/1995, la empresa <strong>@Model.Empresas.Nombre_Empresa </strong> pone a su disposición la posibilidad de realizar el reconocimiento médico periódico anual del trabajador <strong>@item.TrabajadorNome </strong>con DNI <strong>@item.TrabajadorNif</strong>.<br><br>







                Le rogamos que, en la medida de lo posible, nos haga saber cuanto antes por motivos organizativos, si usted desea acogerse a este derecho o si por el contrario desiste del mismo. En éste último caso deberá hacernos llegar cumplimentado y firmado la hoja que adjuntamos al presente escrito. En unos días le haremos saber el lugar, fecha y hora donde deberá personarse para pasar la revisión médica.<br><br>







                Por último, sólo nos queda decirle que ante cualquier posible duda que usted pueda tener sobre este proceso le será solucionada con la mayor rapidez posible.<br><br>







                Agradeciendo de antemano su colaboración,<br><br>







                Atentamente,<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>Fdo. Trabajador.



            </a><a style="float:right;"><b>37</b></a><a>
            </a>
        </div>
    }
    <a>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


        <style>

            #numpag {
                float: right;
            }

            #titulo {
                position: relative;
                left: 6cm;
                font-size: 30px;
            }

            #responsable {
                position: relative;
                left: 2cm;
            }

            .imgleft {
                display: block;
                margin-right: 15%;
            }

            #fdoeurobrazil {
                position: relative;
                left: 12cm;
            }

            a {
                color: #FFFFFF;
                text-decoration: none;
            }

            #seprelalogo {
                position: relative;
            }
        </style>







        <div id="divbody" style="page-break-before: always; text-align:center;">

            <img src="https://elasticbeanstalk-us-east-2-537419050523.s3.us-east-2.amazonaws.com/storage/Imagens/seprela2.png" align="center" width="150" height="60">

            <p class="subtext1">
                SERVICIO DE PREVENCIÓN<br>

                EXTERNA LABORAL XXI S.A
            </p>



            <div class="titlediv">

                <p class="title"><strong>SOLICITUD DE DATOS PARA EL CONTRATO</strong></p><br>

                <table width="90%" class="classtable" style="margin:auto">

                    <tbody>
                        <tr>

                            <th colspan="2">

                                DATOS DE LA EMPRESA

                            </th>

                        </tr>

                        <tr>

                            <td width="50%">

                                NOMBRE DE LA EMPRESA

                            </td>

                            <td width="50%">

                                @Model.Empresas.Nombre_Empresa
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                ACTIVIDAD DE LA EMPRESA

                            </td>

                            <td width="50%">

                                @Model.Empresas.actividadprincial
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                C.I.F./ N.I. F

                            </td>

                            <td width="50%">

                                @Model.Empresas.Nif
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                CD. CTA. COTIZACIóN SEG. SOCIAL

                            </td>

                            <td width="50%">

                                @Model.Empresas.CuentaCotizacion
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                DIRECCIóN FISCAL EMPRESA

                            </td>

                            <td width="50%">

                                @Model.Empresas.Direccion
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                CODIGO POSTAL / POBLACIóN

                            </td>

                            <td width="50%">

                                @Model.Empresas.Cp / BARCELONA
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                PROVINCIA

                            </td>

                            <td width="50%">

                                BARCELONA
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                PERSONA DE CONTACTO

                            </td>

                            <td width="50%">

                                @Model.Empresas.Representacionlegal
                            </td>

                        </tr>



                        <tr>

                            <td width="50%">

                                EMAIL

                            </td>

                            <td width="50%">

                                @Model.Empresas.email
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                N.º DE CTA. BANCARIA

                            </td>

                            <td width="50%">
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                ¿A QUÉ CONVENIO PERTENECE LA EMPRESA?

                            </td>

                            <td width="50%">

                                0
                            </td>

                        </tr>

                    </tbody>
                </table><br>

                <table width="90%" class="classtable" style="margin:auto">

                    <tbody>
                        <tr>

                            <th colspan="2">

                                DATOS DEL REPRESENTANTE DE LA EMPRESA

                            </th>

                        </tr>

                        <tr>

                            <td width="50%">

                                NOMBRE COMPLETO DEL TITULAR DE LA EMPRESA

                            </td>

                            <td width="50%">

                                @Model.Empresas.Representacionlegal
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                D.N.I. DEL TITULAR DE LA EMPRESA

                            </td>

                            <td width="50%">

                                @Model.Empresas.nifrepresentante
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                CARGO

                            </td>

                            <td width="50%">
                            </td>

                        </tr>

                    </tbody>
                </table><br>

                <table width="90%" class="classtable" style="margin:auto">

                    <tbody>
                        <tr>

                            <th colspan="2">

                                DATOS DE LOS CENTROS DE TRABAJO DE LA EMPRESA

                            </th>

                        </tr>

                        <tr>

                            <td width="50%">

                                LA EMPRESA <strong>NO</strong> TIENE CENTRO DE TRABAJO NI INSTALACIONES

                            </td>

                            <td width="50%">
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                LA EMPRESA <strong>SI</strong> TIENE CENTRO DE TRABAJO O INSTALACIONES

                            </td>

                            <td width="50%">
                            </td>

                        </tr>

                    </tbody>
                </table>

                <br>

                <table width="90%" class="classtable" style="margin:auto;">

                    <tbody>
                        <tr>

                            <th width="30%">

                                DIRECCIóN

                            </th>

                            <th width="5%">

                                NºTR

                            </th>

                            <th width="5%">

                                CP

                            </th>

                            <th width="20%">

                                POBLACIóN

                            </th>

                            <th width="20%">

                                PROVINCIA

                            </th>

                            <th width="20%">

                                TELéFONO

                            </th>

                        </tr>

                        <tr>

                            <td width="30%">

                                ...

                            </td>

                            <td width="5%">

                                ...

                            </td>

                            <td width="5%">

                                ...

                            </td>

                            <td width="20%">

                                ...

                            </td>

                            <td width="20%">

                                ...

                            </td>

                            <td width="20%">

                                ...

                            </td>

                        </tr>

                        <tr>

                            <td width="30%">

                                ...

                            </td>

                            <td width="5%">

                                ...

                            </td>

                            <td width="5%">

                                ...

                            </td>

                            <td width="20%">

                                ...

                            </td>

                            <td width="20%">

                                ...

                            </td>

                            <td width="20%">

                                ...

                            </td>

                        </tr>

                    </tbody>
                </table>

                <p class="subtext">Nº TR = Número de trabajadores</p>

            </div>

            <div class="titlediv row" style="margin-left:19rem;">

                <div class="tablea col">

                    <div style="display:flex;">
                    </div><table width="60%" class="classtable">

                        <tbody>
                            <tr>
                                <th colspan="2">

                                    TIPO DE CONTRATO

                                </th>

                            </tr>

                            <tr>

                                <td width="70%">

                                    SPA (completo)

                                </td>

                                <td width="30%">
                                </td>

                            </tr>

                            <tr>

                                <td width="50%">

                                    Especialidades Técnicas

                                </td>

                                <td width="30%">
                                </td>

                            </tr>

                            <tr>

                                <td width="50%">

                                    Vigilancia de la Salud

                                </td>

                                <td width="30%">
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>

                <div class="tableb col">

                    <table width="60%" class="classtable">

                        <tbody>
                            <tr>

                                <th colspan="2">

                                    ¿La empresa tiene representantes de los trabajadores?

                                </th>

                            </tr>

                            <tr>

                                <td width="40%">

                                    SI

                                </td>

                                <td width="60%">
                                </td>

                            </tr>

                            <tr>

                                <td width="40%">

                                    NO

                                </td>

                                <td width="60%">
                                </td>

                            </tr>


                        </tbody>
                    </table>

                </div>

            </div>

            <div class="titlediv" style="page-break-before:always;">

                <table width="90%" class="classtable" style="margin:auto">

                    <tbody>
                        <tr>

                            <th colspan="3">

                                TRABAJADORES EMPRESA

                            </th>

                        </tr>

                        <tr>

                            <th width="40%">

                                NOMBRE COMPLETO

                            </th>

                            <th width="20%">

                                D.N.I.

                            </th>

                            <th width="40%">

                                PUESTO TRABAJO

                            </th>

                        </tr>

                        @foreach (var tra in Model.trabajadores)
                        {
                            <tr>

                                <td width="40%">

                                    @tra.TrabajadorNome
                                </td>

                                <td width="20%">

                                    @tra.TrabajadorNif
                                </td>

                                <td width="40%">

                                    PELUQUERA
                                </td>

                            </tr>
                        }



                        <tr>

                            <th colspan="2">

                                NUMERO TOTAL DE TRABAJADORES

                            </th>

                            <th>

                                @count
                            </th>

                        </tr>

                    </tbody>
                </table>

                <table width="90%" class="classtable" style="margin:auto">

                    <tbody>
                        <tr>

                            <th colspan="2">

                                DATOS PARA EL ENVíO DE LAS FACTURAS

                            </th>

                        </tr>

                        <tr>

                            <td width="50%">

                                PERSONA DE CONTACTO

                            </td>

                            <td width="50%">

                                @Model.Empresas.Representacionlegal
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                N.º TELEFONO

                            </td>

                            <td width="50%">

                                933132259// JORDI 691212300
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                E-MAIL

                            </td>

                            <td width="50%">

                                @Model.Empresas.email
                            </td>

                        </tr>

                    </tbody>
                </table>

                <table width="90%" class="classtable" style="margin:auto">

                    <tbody>
                        <tr>

                            <th colspan="2">

                                DATOS GESTORIA

                            </th>

                        </tr>

                        <tr>

                            <td width="50%">

                                NOMBRE GESTORIA

                            </td>

                            <td width="50%">

                                @Model.Empresas.nombregestoria
                            </td>

                        </tr>

                        <tr>

                            <td width="50%">

                                PERSONA DE CONTACTO

                            </td>

                            <td width="50%">

                                @Model.Empresas.nombregestoria
                            </td>

                        </tr>



                        <tr>

                            <td width="50%">

                                E-MAIL

                            </td>

                            <td width="50%">

                                @Model.Empresas.emailgestoria
                            </td>

                        </tr>

                    </tbody>
                </table>

                <table width="90%" class="classtable" style="margin:auto">

                    <tbody>
                        <tr>

                            <th>

                                COMENTARIOS

                            </th>

                        </tr>

                        <tr>

                            <td>

                                ...

                            </td>

                        </tr>

                    </tbody>
                </table><br>

            </div>

            <div class="row text">

                <div class="col">

                    De conformidad con el Reglamento (UE) 2016/679 de 27 de abril de 2016, relativo a la protección y libre circulación de datos de las personas físicas, los datos personales que nos sean proporcionados serán tratados por SEPRELA XXI S.A., con la finalidad de proporcionarle los servicios solicitados, realizar las tareas administrativas y mantener comunicaciones. La base legal para el tratamiento es la ejecución de un contrato y el interés legítimo para la gestión de los servicios solicitados. La información será conservada mientras exista una relación contractual, más el plazo legal que sea de obligado mantenimiento o el necesario para atender las posibles responsabilidades. Le informamos que los datos no serán cedidos a terceros, salvo obligación legal y no están previstas transferencias internacionales de los datos de carácter personal facilitados. Vd. tiene derecho a acceder, rectificar, limitar, cancelar y solicitar la portabilidad de los datos, dirigiendo solicitud escrita que acompañe su identificación a C/ Castillejos 365, Bajos, CP 08025 de Barcelona, también tendrá derecho a presentar una reclamación ante la Autoridad de control competente www.aepd.es, o solicitar más información respecto a la política de tratamiento de datos personales.

                </div>

            </div><br><br>

            <img src="https://elasticbeanstalk-us-east-2-537419050523.s3.us-east-2.amazonaws.com/storage/Imagens/seprelatitulo.png" width="500px" height="400px">

            <span style="font-size: 30px;float:right;"><span lang="es-ES"><strong>37</strong></span></span><p></p>

        </div>


        @foreach (var item in Model.trabajadores)
        {
            <div class="titlediv" style="page-break-before: always;">

                <h5><p class="title"><strong>VIGILANCIA DE LA SALUD DE LOS TRABAJADORES</strong></p></h5>

                <p>
                    <br>

                </p>
            </div>

        <div id="divbody" style="font-size:20;">
            <a>

                <br>

                Para cumplir con lo establecido en la Ley de Prevención de Riesgos  Laborales referente a garantizar la vigilancia del estado de salud de los  trabajadores (artículo 22.1 de la Ley 31/1995), con un centro sanitario  acreditado donde el equipo médico residente garantiza la medicina asistencial.<p></p>

                <p>Los reconocimientos médicos se llevan a cabo de acuerdo con la labor que  desempeña el trabajador y con los posibles riesgos a los que permanece expuesto  a lo largo de la jornada. Para ello, se realizan pruebas específicas. Además,  el equipo médico puede disponer de las mediciones ambientales oportunas  realizadas por los técnicos del Servicio de Prevención.</p>

                <p>Los resultados de los reconocimientos serán comunicados al trabajador  respetando su derecho a la intimidad de toda la información relacionada con su  estado de salud, mientras que a la empresa, únicamente se le notifica la  calificación del trabajador como APTO O NO APTO mediante un Certificado de  Aptitud. Si el estado de salud del trabajador lo requiere, en su lugar, podría  ser emitido un APTO CON RESTRICCIONES, las cuales deben ser respetadas por el  empresario para no exponer al trabajador a un riesgo para su salud.</p>

                <p>Este reconocimiento únicamente será llevado a cabo cuando y solo cuando el  trabajador preste su consentimiento de forma voluntaria y por escrito.</p>

                <p>En caso de uno o varios trabajadores que no deseen realizar dicho  reconocimiento médico, deberán presentar a la empresa por escrito una renuncia  voluntaria. La empresa deberá facilitar una copia de dicho documento al  Servicio de Prevención Ajeno (si lo hay).</p>

            </a><p>
                <a>
                    <br>

                    POR ELLO INFORMAMOS A LA EMPRESA  <strong> @Model.Empresas.Nombre_Empresa</strong> CON NIF <strong> @Model.Empresas.Nif</strong>
                </a>QUE DEBE TENER CONCERTADO UN SERVICIO EXTERNO DE LA VIGILANCIA DE LA SALUD CON UNA EMPRESA AUTORIZADA. EL HECHO DE NO TENER ESTE SERVICIO PODRA SER SANCIONADA LA EMPRESA ECONOMICAMENTE.<br><br>

                <br><br>

            </p>

            <p>

            </p>

            <p>

                <a id="fdoempresario"> Fdo. El empresario</a> <a id="fdoeurobrazil">Fdo. EUROBRAZIL INVESTMENTS, S.L.</a><br>



                <img class="imgleft" src="https://elasticbeanstalk-us-east-2-537419050523.s3.us-east-2.amazonaws.com/storage/Imagens/seloeb.jpg" width="500px" height="300px" style="margin-right: 0% !important;float:right;">

            </p>



            <p>
                En

                BARCELONA a

                <span placeholder="..." type="text" style="margin-right: 15px;"> @DateTime.Now.Day
                    de <span style="margin-right: 15px;" placeholder="..." type="text">
    @DateTime.Now.Month
                    de @DateTime.Now.Year. <br><br><br><br>

                </span>
                </span>
            </p>
        </div>
    }
        



        <style>

            body {
                font-family: arial, sans-serif;
                font-size: 20px;
            }

            #titulo {
                position: relative;
                left: 6cm;
                font-size: 30px;
            }



            input {
                border: none;
                font-size: 20px;
            }

            th {
                font-size: 28px;
                border: 1px solid black;
            }

            #responsable {
                position: relative;
                left: 2cm;
            }

            #numpag {
                position: absolute;
                bottom: 8px;
                right: 16px;
            }
        </style>







        @foreach(var item in Model.trabajadores) { 

        <div style="page-break-before: always">

            <h3><strong>RENUNCIA VOLUNTARIA POR PARTE DEL PROPIO TRABAJADOR/ A  PARA REALIZAR EL RECONOCIMIENTO MÉDICO PERIÓDICO ANUAL.</strong></h3><br><br>

            En BARCELONA, a <span placeholder="..." type="text" style="margin-right: 15px;">
    @DateTime.Now.Day de <span placeholder="..." type="text" style="margin-right: 15px;">
        @DateTime.Now.Month de @DateTime.Now.Year<br><br>



        D.<strong>@item.TrabajadorNome</strong>	con D.N.I.  <strong>@item.TrabajadorNif</strong>



        Trabajador/a  de <strong>@Model.Empresas.Nombre_Empresa</strong>, que ocupa el puesto de <u>PELUQUERA</u> <span placeholder="..." type="text" style="margin-right: 15px;">
            comunica a la empresa que,



            "R E N U N C I A " voluntariamente a la realización del Reconocimiento Médico



            periódico anual  que la empresa <strong>@Model.Empresas.Nombre_Empresa</strong> le ha ofrecido realizar.<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>







            Fdo : _______________________________









            <a style="float: right;"><b>38</b></a><a>

            </a>
        </span>
    </span>
</span>
        </div>}
       


            <style>



                body {
                    font-family: arial, sans-serif;
                }



                #titulo {
                    position: relative;
                    left: 6cm;
                    font-size: 30px;
                }



                table, td {
                    border: 1px solid black;
                }







                input {
                    border: none;
                    font-size: 20px;
                }



                th {
                    border: 1px solid black;
                }



                #responsable {
                    position: relative;
                    left: 2cm;
                }



                #numpag {
                    position: absolute;
                    bottom: 8px;
                    right: 16px;
                }
            </style>





















        </a>
    @foreach(var item in Model.trabajadores) { 
        <div id="divbody" style="page-break-before:always;page-break-after:always">
            <a>



                <h3><strong>CONTROL DE ENTREGA DE LOS EQUIPOS DE PROTECCIÓN INDIVIDUAL  "E. P. I."</strong></h3><br><br>











                D. <strong>@item.TrabajadorNome</strong>	 declara haber



                Recibido los Equipos de Protección Individual que se detallan por parte de la empresa <strong>@Model.Empresas.Nombre_Empresa</strong>, y haber sido informado de los trabajos y zonas en que deberá utilizar dicho equipo, así como haber recibido instrucciones para su correcto uso y mantenimiento.<br><br>







                <table width="745" height="270">



                    <tbody>
                        <tr>



                            <th width="418" align="center">Tipo de equipo</th>



                        </tr>



                        <tr>



                            <td align="left"><input placeholder="..." type="text"></td>



                        </tr>
                        <tr>



                            <td align="left"><input placeholder="..." type="text"></td>



                        </tr>
                        <tr>



                            <td align="left"><input placeholder="..." type="text"></td>



                        </tr>
                        <tr>



                            <td align="left"><input placeholder="..." type="text"></td>



                        </tr>
                        <tr>



                            <td align="left"><input placeholder="..." type="text"></td>



                        </tr>
                        <tr>



                            <td align="left"><input placeholder="..." type="text"></td>



                        </tr>
                    </tbody>
                </table> <br><br>







                Aceptando el compromiso que se le solicita de: <br><br>







                a) Utilizar este equipo durante la jornada de trabajo en las áreas cuya obligatoriedad de uso se encuentra señalizado.<br>







                b) Consultar cualquier duda sobre su correcta utilización, cuidando de su perfecto estado y conservación.<br>







                c) Solicitar un nuevo equipo en caso de pérdida o deterioro del mismo.<br><br><br>











                En BARCELONA a <input width="48" placeholder="..." type="text"> de <input width="48" placeholder="..." type="text"> de @DateTime.Now.Year. <br><br><br><br><br><br>







                Firma del Trabajador







            </a><a style="float:right; font-size:28;">43</a><a>



















            </a>
        </div>}
   


            <style>

                body {
                    font-family: arial, sans-serif;
                    font-size: 20px;
                }

                #titulo {
                    position: relative;
                    left: 6cm;
                    font-size: 30px;
                }

                table, td {
                    font-size: 20px;
                    border: 1px solid black;
                }

                input {
                    border: none;
                    font-size: 20px;
                }

                th {
                    font-size: 20px;
                    border: 1px solid black;
                }

                #responsable {
                    position: relative;
                    left: 2cm;
                }

                #numpag {
                    float: right;
                }

                .linea {
                    padding: 20px;
                }
            </style>









        </a><div id="divbody">
            <a>

                <h3><strong>CURSOS DE FORMACIÓN</strong></h3><br><br>



                <table style="width:100%">

                    <tbody>
                        <tr>

                            <th>N°</th>

                            <th>ACCIÓN FORMATIVA</th>

                            <th>N° ASISTENTES</th>

                            <th>HORAS DE FORMACIÓN</th>

                        </tr>

                        <tr>

                            <td>
                                <strong>1</strong>

                            </td>
                            <td>PREVENCIÓN DE RIESGOS LABORALES</td>

                            <td></td>

                            <td></td>

                        </tr>
                        <tr>
                        </tr>
                        <tr>

                            <td>
                                <strong>2</strong>

                            </td>
                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
                        <tr>
                        </tr>
                        <tr>

                            <td>
                                <strong>3</strong>

                            </td>
                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
                        <tr>
                        </tr>
                        <tr>

                            <td>
                                <strong>4</strong>

                            </td>
                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
                        <tr>
                        </tr>
                        <tr>

                            <td>
                                <strong>5</strong>

                            </td>
                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
                        <tr>
                        </tr>
                        <tr>

                            <td>
                                <strong>6</strong>

                            </td>
                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table> <br><br>



                <table style="width:100%">

                    <tbody>
                        <tr>

                            <th>N°</th>

                            <th>OBJETIVOS PREVISTOS</th>

                            <th>INICIO CURSO</th>

                            <th>FINAL CURSO</th>

                            <th>COSTE FORMACIÓN</th>

                        </tr>

                        <tr>

                            <td>
                                <strong>1</strong>

                            </td>
                            <td>CONOCER LA PREVENCIÓN</td>

                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
                        <tr>
                        </tr>
                        <tr>

                            <td>
                                <strong>2</strong>

                            </td>
                            <td>SU APLICACIÓN</td>

                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
                        <tr>
                        </tr>
                        <tr>

                            <td>
                                <strong>3</strong>

                            </td>
                            <td></td>

                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
                        <tr>
                        </tr>
                        <tr>

                            <td>
                                <strong>4</strong>

                            </td>
                            <td></td>

                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
                        <tr>
                        </tr>
                        <tr>

                            <td>
                                <strong>5</strong>

                            </td>
                            <td></td>

                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
                        <tr>
                        </tr>
                        <tr>

                            <td>
                                <strong>6</strong>

                            </td>
                            <td></td>

                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table><br><br>



                Fecha : _________ de ______________________ de @DateTime.Now.Year                 <br><br><br><br><br><br>



                Fdo. La Dirección


            </a><a style="float:right;">46</a><a>



            </a>
        </div><a>













            <meta charset="utf-8">

            <style type="text/css">

                <!--

                span.clase02 {
                    font-size: 28.1px;
                    color: rgb(0,0,0);
                    margin-left: 10rem;
                }

                div.clase02 {
                    font-family: "Calibri Bold",serif;
                    font-size: 25.1px;
                    color: rgb(0,0,0);
                    font-weight: bold;
                    font-style: normal;
                    text-decoration: none
                }

                span.clase04 {
                    font-family: "Calibri Bold",serif;
                    font-size: 25.1px;
                    color: rgb(0,0,0);
                    font-weight: bold;
                    font-style: normal;
                }

                div.clase04 {
                    font-family: "Calibri Bold",serif;
                    font-size: 25.1px;
                    color: rgb(0,0,0);
                    font-weight: bold;
                    font-style: normal;
                    margin-left: 15px;
                }

                span.clase03 {
                    font-family: "Calibri",serif;
                    font-size: 25.1px;
                    color: rgb(0,0,0);
                    font-weight: normal;
                    font-style: normal;
                }

                div.clase03 {
                    font-family: "Calibri",serif;
                    font-size: 25.1px;
                    color: rgb(0,0,0);
                    font-weight: normal;
                    font-style: normal;
                }

                td.clase04 {
                    padding: 30px;
                }

                -->
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }

                tr {
                    height: 30px;
                }
            </style>

            <script type="text/javascript" src="bf62ee30-354c-11eb-8b25-0cc47a792c0a_id_bf62ee30-354c-11eb-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>











            <div style="border: 2px solid;text-align:center;page-break-before:always;"><span style="padding: 5px;"><b>CERTIFICADO DE ASISTENCIA A LA FORMACIÓN</b></span></div>

            <div style="border: 2px solid;display:grid;justify-content: center;width:100%">
                <br>
                <div class="clase04"><span class="clase04">Denominación de la Acción Formatva : PREVENCIÓN DE RIESGOS LABORALES</span></div>
                <br>
                <div class="clase04"><span class="clase04">Temas : Prevención, Emergencias, EPIS, EPC, Cargas fsicas y mentales y Primeros</span></div>
                <br>
                <div class="clase04"><span class="clase04">auxilios básicos</span></div>
                <br>
                <div class="clase04"><span class="clase04">Fecha Inicio : ______________ Fecha Final : _____________</span></div>
                <br>
                <div class="clase04"><span class="clase04">Asistentes: __________  Horas de formación: ______________</span></div>
                <br>
                <div class="clase04"><span class="clase04" style=" margin-right:5px;">Horario:</span><span class="clase04">Mañana:</span><span class="clase04">_________________ Tarde:_____________</span></div>
                <br>

                <br>

                <br>
                <div><span style="font-size:28px;"><b>Formador : FRANCESC VILARÓ SALADELAFONT</b></span></div>
                <br><br>
                <div style="justify-content: space-around;
    display: flex;margin-bottom:20px">
                    <div class="clase02"><span class="clase02">Firma Formador</span></div>
                    <br>
                    <div class="clase02"><span class="clase02">Firma responsable de la Prevención</span></div>
                    <br>
                </div>

            </div>

            <div class="clase04" style="display:grid;justify-content:center;"><span class="clase04">DATOS DE LOS ASISTENTES</span></div>
            <table style=";justify-content:center;width:100%;border: 2px white;">
                <tbody>
                    <tr>
                        <td class="clase04" style="width:25rem;text-align:center"><span class="clase04">APELLIDOS Y NOMBRE</span></td>

                        <td class="clase04" style="width:10rem;text-align:center"><span class="clase04">D. N. I.</span></td>

                        <td class="clase04" style="width:10rem;text-align:center"><span class="clase04">FIRMAS</span></td>


                    </tr>
                    <tr>
                        <td class="clase04"> </td>

                        <td class="clase04"> </td>

                        <td class="clase04"> </td>


                    </tr>
                    <tr>
                        <td class="clase04"><span class="clase04"></span></td>

                        <td class="clase04"><span class="clase04"></span></td>

                        <td class="clase04"><span class="clase04"></span></td>


                    </tr>
                    <tr>
                        <td class="clase04"><span class="clase04"></span></td>

                        <td class="clase04"><span class="clase04"></span></td>

                        <td class="clase04"><span class="clase04"></span></td>


                    </tr>
                    <tr>
                        <td class="clase04"><span class="clase04"></span></td>

                        <td class="clase04"><span class="clase04"></span></td>

                        <td class="clase04"><span class="clase04"></span></td>


                    </tr>
                    <tr>
                        <td class="clase04"><span class="clase04"></span></td>

                        <td class="clase04"><span class="clase04"></span></td>

                        <td class="clase04"><span class="clase04"></span></td>


                    </tr>
                    <tr>
                        <td class="clase04"> </td>

                        <td class="clase04"> </td>

                        <td class="clase04"> </td>


                    </tr>
                    <tr>
                        <td class="clase04"> </td>

                        <td class="clase04"> </td>

                        <td class="clase04"> </td>


                    </tr>
                    <tr>
                        <td class="clase04"> </td>

                        <td class="clase04"> </td>

                        <td class="clase04"> </td>


                    </tr>
                    <tr>
                        <td class="clase04"> </td>

                        <td class="clase04"> </td>

                        <td class="clase04"> </td>


                    </tr>
                    <tr>
                        <td class="clase04"> </td>

                        <td class="clase04"> </td>

                        <td class="clase04"> </td>


                    </tr>
                </tbody>
            </table>

            <div class="clase04" style="margin-top:10rem;"><span class="clase04">OBSERVACIONES :</span></div>

            <div class="clase03" style="float:right;"><span class="clase03" style="page-break-after:always;">47</span></div>

        </a>
    </div>
<a>











    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>NORMAS DE EMERGENCIA</title>



    <style>

        #numpag {
            float: right;
        }

        body {
            font-family: arial, sans-serif;
            font-size: 25px !important;
        }

        #titulo {
            position: relative;
            left: 6cm;
            font-size: 30px;
        }

        table, td {
            font-size: 20px;
            border: 1px solid black;
        }

        input {
            border: none;
            font-size: 20px;
        }

        th {
            font-size: 20px;
            border: 1px solid black;
        }

        #responsable {
            position: relative;
            left: 2cm;
        }

        #space {
            height: 80px;
            vertical-align: text-top;
        }
    </style>









    <div id="divbody" style="page-break-before:always;">

        <h3><strong>NORMAS DE EMERGENCIA</strong></h3>

        <h4><strong>3. DATOS Y CARACTERÍSTICAS DEL CENTRO DE TRABAJO</strong></h4>



        <table style="width:100%">

            <tbody>
                <tr>

                    <th colspan="4">DATOS GENERALES DEL CENTRO DE TRABAJO</th>



                </tr>

                <tr>

                    <td><strong>RAZÓN SOCIAL:</strong></td>

                    <td colspan="3">@Model.Empresas.Nombre_Empresa</td>



                </tr>
                <tr>



                    <td><strong>DOMICILIO:</strong></td>

                    <td colspan="3">@Model.Empresas.Direccion</td>

                </tr>

                <tr>

                    <td><strong>LOCALIDAD:</strong></td>

                    <td colspan="3">BARCELONA</td>

                </tr>

                <tr>



                    <td><strong>PROVINCIA:</strong></td>

                    <td>@Model.Empresas.Provincia</td>

                    <td><strong>CODIGO POSTAL:</strong></td>

                    <td>@Model.Empresas.Cp</td>

                </tr>

                <tr>

                    <th colspan="4"><strong>CARACTERISTICAS:</strong></th>



                </tr>



                <tr style="height: 10rem;">

                    <td id="space" colspan="4" style="text-align:left;"><strong>Actividad desarrollada en el centro de trabajo:</strong></td>

                </tr>

                <tr style="height: 10rem;">

                    <td id="space" colspan="4" style="text-align:left;"><strong>Accesos al centro de trabajo / Salidas de evacuación:</strong></td>

                </tr>

                <tr style="height: 10rem;">

                    <td id="space" colspan="4" style="text-align:left;"><strong>N° Trabajadores - Distribución - Turnos:</strong></td>

                </tr>

                <tr style="height: 10rem;">

                    <td id="space" colspan="4" style="text-align:left;"><strong>Punto / Zona de reunión en caso de evacuación:</strong></td>

                </tr>

            </tbody>
        </table> <br><br>

        <strong>4. RELACIÓN DE MEDIOS HUMANOS Y MATERIALES.</strong><br><br>

        - Medios Humanos:<br><br>

        De acuerdo con lo indicado en el artículo 20 de la Ley de Prevención de Riesgos Laborales, en el centro de trabajo se deberá contar con personal con conocimientos en primeros auxilios, lucha contra incendios y evacuación, que será el personal encargado de las emergencias.<br>

        El número de personas encargadas de las emergencias estará en función del número de trabajadores, dimensiones y grado de ocupación del centro, actividades desarrolladas, y gravedad de los riesgos previsibles que puedan ocurrir (tanto por su probabilidad como por sus posibles consecuencias), de forma que siempre se encuentren presentes medios humanos suficientes para afrontar situaciones de emergencia.

        <div style="page-break-after:always;margin-top:10rem;float:right;">51</div>



    </div>









    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <style type="text/css">

        <!--

        span.cls_002 {
            font-family: "Calibri Bold",serif;
            font-size: 25.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 8px;
        }

        div.cls_002 {
            font-family: "Calibri Bold",serif;
            font-size: 25.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 8px;
        }

        span.cls_003 {
            font-family: "Calibri Bold",serif;
            font-size: 25.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 8px;
        }

        div.cls_003 {
            font-family: "Calibri Bold",serif;
            font-size: 25.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 8px;
        }

        span.cls_004 {
            font-family: "Calibri",serif;
            font-size: 25.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 8px;
        }

        div.cls_004 {
            font-family: "Calibri",serif;
            font-size: 25.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 8px;
        }

        span.cls_005 {
            font-family: Arial,serif;
            font-size: 25.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 8px;
        }

        div.cls_005 {
            font-family: Arial,serif;
            font-size: 25.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 8px;
        }

        -->
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        td {
            height: 20px;
        }
    </style>

    <script type="text/javascript" src="de421bc8-354c-11eb-8b25-0cc47a792c0a_id_de421bc8-354c-11eb-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>









    <div style="border: 2px solid; width:100%; text-align: center;page-break-before:always;" class="cls_002"><span class="cls_002">NORMAS DE EMERGENCIA</span></div>
    <table style="width:100%;">
        <tbody>
            <tr style=";left:90.60px;top:66.31px" class="cls_003"><td><span class="cls_003">Relación de personal encargado de emergencias y primeros auxilios.</span><span class="cls_003">(Nombre y puesto de trabajo) :</span></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
        </tbody>
    </table>


    <div style=";left:85.20px;top:190.91px" class="cls_003"><span class="cls_003">4.2 MEDIOS MATERIALES</span></div>

    <table style="width:100%;">
        <tbody>
            <tr style=";left:90.60px;top:204.81px" class="cls_003"><td><span class="cls_003">Medios materiales de protección contra incendios :</span></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
        </tbody>
    </table>
    <div style=";left:85.20px;top:260.61px" class="cls_004"><span class="cls_004">La  empresa  podrá  adjuntar  en  Anexo,  la  relación  de  estos  medios  de  protección  contra</span><span class="cls_004">incendios existentes, y de acuerdo al mantenimiento efectuado con la empresa mantenedora</span><span class="cls_004">contratada.</span></div>



    <div style=";left:85.20px;top:314.41px" class="cls_003"><span class="cls_003">5.  PROCEDIMIENTO DE ACTUACIÓN EN CASO DE EMERGENCIA</span></div>

    <div style=";left:78.10px;top:341.31px" class="cls_003"><span class="cls_003">5.1</span></div>

    <div style=";left:106.50px;top:341.31px" class="cls_003"><span class="cls_003">Normas de prevención :</span></div>

    <div style=";left:103.20px;top:368.61px" class="cls_005"><li class="cls_004"> <span class="cls_004">  Mantener un correcto estado de orden y limpieza.</span></li></div>

    <div style=";left:103.20px;top:382.41px" class="cls_005"><li class="cls_004"> <span class="cls_004">  No  se  debe  sobrecargar  la  instalación  eléctrica  enchufando  muchos  aparatos  a  la</span></li></div>

    <div style=";left:121.20px;top:395.81px" class="cls_004"><span class="cls_004">misma toma de corriente.</span></div>

    <div style=";left:103.20px;top:409.61px" class="cls_005"><li class="cls_004"> <span class="cls_004">  No almacenar ni poner material combustble próximo a cuadros eléctricos, aparatos</span></li></div>

    <div style=";left:121.20px;top:423.11px" class="cls_004"><span class="cls_004">eléctricos o focos de ignición.</span></div>

    <div style=";left:103.20px;top:436.91px" class="cls_005"><li class="cls_004"> <span class="cls_004">  Los medios de extnción de incendios deben estar visible y accesibles.</span></li></div>

    <div style=";left:103.20px;top:450.71px" class="cls_005"><li class="cls_004"> <span class="cls_004">  Todos los trabajadores deben estar informados de los medios humanos y materiales</span></li></div>

    <div style=";left:121.20px;top:464.11px" class="cls_004"><span class="cls_004">disponibles  en  el  centro  de  trabajo  para  combatr   las  posibles  situaciones  de</span></div>

    <div style=";left:121.20px;top:477.61px" class="cls_004"><span class="cls_004">emergencia.</span></div>

    <div style=";left:78.10px;top:504.51px" class="cls_003"><span class="cls_003">5.2</span></div>

    <div style=";left:104.37px;top:504.51px" class="cls_003"><span class="cls_003">Procedimiento de actuación al detectar un incendio :</span></div>

    <div style=";left:85.20px;top:531.41px" class="cls_004"><span class="cls_004">Al detectar un incendio :</span></div>

    <div style=";left:103.20px;top:545.21px" class="cls_005"><li class="cls_004"> <span class="cls_004">  Mantener la calma, no gritar.</span></li></div>

    <div style=";left:103.20px;top:559.01px" class="cls_005"><li class="cls_004">  Avisar del incendio al personal encargado de emergencias. Comunicar su nombre, tpo</li></div>

    <div style=";left:121.20px;top:572.41px" class="cls_004"><span class="cls_004">de emergencia, lugar donde sucede la emergencia</span>.</div>

    <div style=";left:103.20px;top:586.21px" class="cls_005"><li class="cls_004">  Tratar de combatr la emergencia con los medios que hayan disponibles.</li></div>

    <div style=";left:103.20px;top:600.01px" class="cls_005"><li class="cls_004">  NO PONER NUNCA EN PELIGRO NUESTRA INTEGRIDAD FÍSICA</li></div>

    <div style=";left:497.72px;top:613.51px" class="cls_004"><span class="cls_004" style="float:right;">52</span></div>











    <meta http-equiv="content-type" content="text/html; charset=utf-8">


    <style type="text/css">

        <!--

        span.clase3 {
            font-size: 30px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none;
            margin-bottom: 10px;
        }

        div.clase3 {
            font-size: 30px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none;
            margin-bottom: 10px;
        }

        span.clase2 {
            font-size: 30px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 10px;
        }

        div.clase2 {
            font-size: 30px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 10px;
        }

        span.clase4 {
            font-size: 30px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 10px;
        }

        div.clase4 {
            font-size: 30px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 10px;
        }

        span.clase5 {
            font-size: 30px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 10px;
        }

        div.clase5 {
            font-size: 30px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 10px;
        }

        span.clase6 {
            font-size: 30px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 10px;
        }

        div.clase6 {
            font-size: 30px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 10px;
        }

        span.clase7 {
            font-size: 30px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 10px;
        }

        div.clase7 {
            font-size: 30px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 10px;
        }

        -->

    </style>

    <script type="text/javascript" src="e3a5a60c-354c-11eb-8b25-0cc47a792c0a_id_e3a5a60c-354c-11eb-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>










    <div style="left:127.94px;top:98.16px;page-break-before:always;" class="clase3"><span class="clase3">CONTROL DE LUCES</span></div>
    <div style="left:127.94px;top:98.16px" class="clase3"><span class="clase3">1-(Nivel mínimo de iluminación 100 lux. Recomendado 300 lux.)</span></div>

    <div style="left:128.82px;top:111.56px" class="clase3"><span class="clase3">*No es preciso hacer mediciones si se percibe</span><span class="clase2"> que la iluminación es claramente suficiente. En caso de duda caben las siguientes alternatvas :</span></div>

    <div style="left:133.80px;top:124.96px" class="clase2"><span class="clase2">a) Proceder a la mejora de la iluminación existente.</span></div>

    <div style="left:133.80px;top:140.30px" class="clase2"><span class="clase2">b) Realizar mediciones para asegurarse de la necesidad de hacer las mejoras. En este caso, habrá que recurrir a un apoyo técnico</span></div>

    <div style="left:131.31px;top:155.70px" class="clase2"><span class="clase2">especializado. (Un Servicio de Prevención Ajeno) si la organización preventva en su empresa no incluye “un trabajador designado”</span></div>

    <div style="left:128.82px;top:171.20px" class="clase2"><span class="clase2">con la formación y medios para realizar las mediciones.</span></div>

    <div style="left:128.82px;top:184.60px" class="clase2"><span class="clase2">En el caso de edificios compartdos, recabar de la propiedad o de la administración de la comunidad dicha documentación.</span></div>



    <div style="left:127.94px;top:208.10px" class="clase2"><span class="clase2">2-En la opción “Mi Plan” de la herramienta “evalua-t” se incluye un documento sobre actuaciones en caso de emergencia. En el caso de</span></div>

    <div style="left:128.82px;top:221.50px" class="clase2"><span class="clase2">edificios compartdos el plan de evacuación estará diseñado en coordinación con el resto de empresas ocupantes y la administración de</span></div>

    <div style="left:128.82px;top:235.00px" class="clase2"><span class="clase2">la comunidad.</span></div>



    <div style="left:127.94px;top:261.90px" class="clase2"><span class="clase2">3-La etqueta consiste en un texto impreso, adherido a recipientes o al embalaje o que cuelgue de ellos. Se deben mantener los productos</span></div>

    <div style="left:126.43px;top:275.30px" class="clase2"><span class="clase2">en sus envases originales y conservar sus etquetas si están adheridas o cuelgan del embalaje.</span></div>

    <div style="left:126.80px;top:288.80px" class="clase2"><span class="clase2">En las etquetas deben figurar las instrucciones (campo de aplicación o uso, concentración máxima del producto y otras limitaciones o</span></div>

    <div style="left:126.43px;top:302.20px" class="clase2"><span class="clase2">exigencias) así como las condiciones de empleo y advertencias necesarias.</span></div>



    <div style="left:118.00px;top:339.10px" class="clase2"><span class="clase2">4-Se debe garantzar una renovación mínima de aire de 50m3 por hora y persona.</span></div>

    <div style="left:57.90px;top:450.40px" class="clase4"><span class="clase4">En ________<u>BARCELONA</u>_<u>BARCELONA</u>_________ a ______ de ________________  de @DateTime.Now.Year</span></div>

    <div style="left:49.80px;top:526.40px" class="clase5"><span class="clase5">POSIBILIDAD :  B </span><span class="clase6">(Baja)  </span><span class="clase5">M </span><span class="clase6">(Media)  </span><span class="clase5">A </span><span class="clase6">(Alta)</span></div>

    <div style="left:554.00px;top:524.40px;text-align:right;margin-top:8rem;" class="clase4"><span class="clase4" style="margin-top:6rem;">Firma del empresario y/o trabajador designado.</span></div>

    <div class="clase7"><span class="clase7" style="float:right;">80</span></div>























    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">



    <title>RENOVACION</title>







    <style>



        body {
            font-family: arial, sans-serif;
            font-size: 20px;
        }



        #titulo {
            position: relative;
            left: 6cm;
            font-size: 30px;
        }



        table, td {
            font-size: 20px;
            border: 1px solid black;
        }



        input {
            border: none;
            font-size: 20px;
        }



        th {
            font-size: 20px;
            border: 1px solid black;
        }



        #responsable {
            position: relative;
            left: 2cm;
        }



        #space {
            height: 80px;
            vertical-align: text-top;
        }
    </style>





















    <div id="divbody" style="page-break-before:always;">



        <h3><strong>SEGUIMIENTO ANUAL DE LA EVALUACIÓN DE RIESGOS LABORALES</strong></h3><br>







        <strong> Fecha de la renovación: </strong><input placeholder="..." type="text">    <strong>Hora:</strong> <input placeholder="..." type="text"><br>



        <strong>Establecimiento:</strong> @Model.Empresas.Nombre_Empresa<br>



        <strong>Domicilio:</strong> @Model.Empresas.Direccion<br>



        <strong>Población: </strong>BARCELONA<br>



        <strong>Código Postal: </strong> @Model.Empresas.Cp <br>



        <strong> Provincia: </strong> @Model.Empresas.Provincia   <br>



        <strong>Teléfono: </strong> 933132259// JORDI 691212300<br>



        <strong>Sector: </strong>   <br>



        <strong>Centro de Trabajo:</strong> <input placeholder="..." type="text"><br>



        <strong>Persona Responsable de la Prevención:</strong> @Model.Empresas.Nombrereprensentante<br>



        <strong> Cargo: </strong><input placeholder="..." type="text"><br><br>







        Evaluación de Riesgos:<br>



        a) Los riesgos existentes son los descritos en el capítulo anterior de la hoja 63 a la 80, ambas incluidas.<br>



        b) No hay modificación en el local ni tampoco en sus elementos ni en la maquinaria.<br>



        c) Los medios de extinción se han renovado y conservan el mismo número y tipo de elementos que en la evaluación anterior.<br>



        d) Las salidas de emergencia y puntos de reunión son los mismos de la evaluación anterior.<br>



        e) Se ha formado al personal sobre la participación, colaboración y la formación continuada.<br>



        f) Se ha formado al personal sobre posturas, movimientos, pausas, horarios  y consecuencias de no respetarlo.<br>



        g) Se ha formado al personal nuevo, reciclado al anterior y se ha trabajado sobre las emergencias y su aplicación.<br>



























    </div>























    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <title>EVALUACION FINAL</title>



    <style>

        body {
            font-family: arial, sans-serif;
            font-size: 20px;
        }

        #titulo {
            position: relative;
            left: 6cm;
            font-size: 30px;
        }

        #numpag {
        }

        table, td {
            font-size: 20px;
            border: 1px solid black;
        }

        input {
            border: none;
            font-size: 20px;
        }

        th {
            font-size: 20px;
            border: 1px solid black;
        }

        #responsable {
            position: relative;
            left: 2cm;
        }

        #space {
            height: 90px;
            vertical-align: text-top;
        }
    </style>

    <div id="divbody" style="page-break-before:always;">
        <a>

            <h3><strong>EVALUACIÓN  DE  RIESGOS  LABORALES</strong></h3><br>



            <strong>Establecimiento:</strong> @Model.Empresas.Nombre_Empresa<br><br>

            <strong>Sector: </strong>  <br><br>

            <strong>Centro de Trabajo:</strong> <input placeholder="..." type="text"><br><br>

            <strong>Fecha de realización de la evaluació de Riesgos: </strong><input placeholder="..." type="text"><br><br>

            <strong>Persona Asignada:</strong> @Model.Empresas.Nombrereprensentante<br> <br>

            <strong>Cargo: </strong><input placeholder="..." type="text"><br><br>

            <strong>Evaluacion: </strong><br>



            O - Favorable<br>

            O - Desfavorable<br><br>



            <strong>Correcciones a realizar:</strong> <input placeholder="..." type="text"><br><br>

            <strong>Fecha a realizar:</strong> <input placeholder="..." type="text"><br><br><br>

            <table>

                <tbody>
                    <tr>

                        <th id="space">Firma del responsable de la Prevenció de Riesgos Laborales</th>

                    </tr>



                </tbody>
            </table>

        </a><a style="float:right; ">81</a><a>



        </a>
    </div>







</a>