@model Plataforma.ViewModels.SolicitudCursoViewModel
<body>

	<style>


.texto {

	font-family: Verdana, Geneva, sans-serif;

	font-size: 18px;

}

.texto2 {

	font-family: Verdana, Geneva, sans-serif;

	font-size: 16px;

}

.textoboni {

	font-family: Verdana, Geneva, sans-serif;

	font-size: 18px;

	color: #F00;

}

.cert {

	font-family: Verdana, Geneva, sans-serif;

	font-size: 20px;

}



.cert2 {

	width:2450px;

	height:842px;

}



.certTITULO {

	font-family: Verdana, Geneva, sans-serif;

	font-size: 25px;

	font-weight: bold;

}

.certazul {

	font-family: Verdana, Geneva, sans-serif;

	font-size: 20px;

	color: #000;

}

.tablanombre {

	background-color: #058523;

	border: thin #0F0;

	font-size:24px;

	color: #FFF;

	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}



.tablanombre2 {

	background-color: skyblue;

	border: thin #00197A;

	font-size:24px;

	color: #FFF;

	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}



.table{

	height: 842px;

	width: 595px;;

}

.firma{

	background-repeat:no-repeat;

	background-size:cover;

}



 /* Style Definitions */

 p.MsoNormal, li.MsoNormal, div.MsoNormal

	{margin-top:0cm;

	margin-right:0cm;

	margin-bottom:8.0pt;

	margin-left:0cm;

	line-height:107%;

	font-family:"Calibri",sans-serif;}

.MsoChpDefault

	{font-family:"Calibri",sans-serif;}

.MsoPapDefault

	{margin-bottom:8.0pt;

	line-height:107%;}



div.WordSection1

	{page:WordSection1;}



.texto11{

	font-size: 21px;

	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;

	line-height: 5px;

}



.texto12{

	font-size: 28px;

	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}



.texto {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
}
.texto2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
}
.textoboni {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #F00;
}
.cert {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
}

.cert2 {
	width:2450px;
	height:842px;
}

.certTITULO {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	font-weight: bold;
}
.certazul {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #000;
}
.tablanombre {
	background-color: #058523;
	border: thin #0F0;
	font-size:24px;
	color: #FFF;
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.tablanombre2 {
	background-color: skyblue;
	border: thin #00197A;
	font-size:24px;
	color: #FFF;
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.table{
	height: 842px;
	width: 595px;;
}
.firma{
	background-repeat:no-repeat;
	background-size:cover;
}

 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:107%;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}

div.WordSection1
	{page:WordSection1;}

.texto11{
	font-size: 21px;
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	line-height: 5px;
}

.texto12{
	font-size: 28px;
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}








	</style>

	<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="texto">

		<tbody>
			<tr>

				<td align="center">
					<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>

					<table width="800" border="0" cellspacing="0" cellpadding="0">

						<tbody>
							<tr>

								<td align="left"><img src="PRL/tri2.PNG" width="250" height="75"></td>

								<td align="left"><img src="https://localhost:44335/PRL/EBR-.jpg" width="216" height="100"></td>

								<td align="right"><img src="https://localhost:44335/PRL/euro.jpg" width="126" height="100"></td>

							</tr>

						</tbody>
					</table>

				

					<table width="1000" border="0" cellspacing="0" cellpadding="0">

						<tbody>
							<tr>

								<td>
									<p>
										<strong>CONTRATO&nbsp; DE ENCOMIENDA&nbsp; DE ORGANIZACIÓN DE LA FORMACIÓN SUSCRITO  ENTRE&nbsp; EMPRESAS AL AMPARO DE LOS ARTÍCULOS 9.3 Y 12.1 DE LA LEY 30/2015, DE 9 DE SEPTIEMBRE, POR LA QUE SE REGULA EL SISTEMA DE FORMACIÓN PROFESIONAL PARA EL EMPLEO EN EL ÁMBITO LABORAL Y DEL ARTÍCULO 14.3 DEL REAL DECRETO 694/2017, DE 3 JULIO, QUE DESARROLLA LA CITADA LEY.</strong><br>

										<br>

										<strong>DON&nbsp; JORDI MUNTANÉ PAVILLARD</strong>,  con número de <strong><u>DNI 37636273-Q</u></strong> en nombre y representación de la mercantil&nbsp; <strong><u>EUROBRAZIL INVESTMENTS S.L.U</u></strong> con número de <strong>NIF B<u>66335472</u></strong> con domicilio en la <strong>GRAN VIA DE LES CORTS CATALANES 584 ( 08011</strong>)  de Barcelona <br>

										<br>

									</p>
								</td>

							</tr>

						</tbody>
					</table>

					<br>

					<table width="1000" border="1" cellspacing="2" cellpadding="2">

						<tbody>
							<tr class="texto">

								<td bgcolor="#999999"><strong>DATOS DE LA EMPRESA AGRUPADA</strong></td>

								<td bgcolor="#CCCCCC"><strong>AD:</strong></td>

								<td>
									<strong>

										JAS
									</strong>
								</td>

								<td bgcolor="#CCCCCC"><strong>CODIGO:</strong></td>

								<td>__</td>

								<td bgcolor="#CCCCCC"><strong>Agente :</strong></td>

								<td>
									<strong>

										EBR
									</strong>
								</td>

							</tr>

						</tbody>
					</table>



					<table width="1000" border="1" cellspacing="2" cellpadding="2">

						<tbody>
							<tr>

								<td width="127" bgcolor="#CCCCCC"><strong>RAZON SOCIAL</strong></td>

								<td width="371">@Model.Empresa.Nombre_Empresa</td>

								<td width="61" bgcolor="#CCCCCC"><strong>C.I.F.</strong></td>

								<td width="141">
									<strong>

										@Model.Empresa.Nif
									</strong>
								</td>

							</tr>

						</tbody>
					</table>



					<table width="1000" border="1" cellspacing="2" cellpadding="2">

						<tbody>
							<tr>

								<td width="100" bgcolor="#CCCCCC"><strong>NOMBRE COMERCIAL</strong></td>

								<td width="134">
									<strong>

										@Model.Empresa.Nombre_Comercial
									</strong>
								</td>

								<td width="80" bgcolor="#CCCCCC"><strong>Persona contacto</strong></td>

								<td width="134">
									<strong>

										@Model.Empresa.Nombrereprensentante
									</strong>
								</td>

							</tr>

						</tbody>
					</table>

					

					<table width="1000" border="1" cellspacing="2" cellpadding="2">

						<tbody>
							<tr>

								<td width="106" bgcolor="#CCCCCC"><strong>DOMICILIO</strong></td>

								<td width="466">@Model.Empresa.Direccion</td>

								<td width="28" bgcolor="#CCCCCC"><strong>C.P.</strong></td>

								<td width="100">
									<strong>

										@Model.Empresa.Cp
									</strong>
								</td>

							</tr>

						</tbody>
					</table>

					

					<table width="1000" border="1" cellspacing="2" cellpadding="2">

						<tbody>
							<tr>

								<td width="102" bgcolor="#CCCCCC"><strong>LOCALIDAD</strong></td>

								<td width="361">
									<strong>

										@Model.Empresa.Localidad
									</strong>
								</td>

								<td width="97" bgcolor="#CCCCCC"><strong>PROVINCIA</strong></td>

								<td width="140">
									<strong>

										BARCELONA
									</strong>
								</td>

							</tr>

						</tbody>
					</table>

					

					<table width="1000" border="1" cellspacing="2" cellpadding="2">

						<tbody>
							<tr>

								<td width="108" bgcolor="#CCCCCC"><strong>TELEFONO</strong></td>

								<td width="243">
									<strong>

										933132259// JORDI 691212300
									</strong>
								</td>

								<td width="63" bgcolor="#CCCCCC"><strong>E-MAIL</strong></td>

								<td width="286">
									<strong>

										@Model.Empresa.email
									</strong>
								</td>

							</tr>

						</tbody>
					</table>

					

					<table width="1000" border="1" cellspacing="2" cellpadding="2">

						<tbody>
							<tr>

								<td width="299" bgcolor="#CCCCCC"><strong>ACTIVIDAD PRINCIPAL</strong></td>

								<td width="401">
									<strong>

										@Model.Empresa.actividadprincial
									</strong>
								</td>

							</tr>

							<tr>

								<td bgcolor="#CCCCCC"><strong>CONVENIO COLECTIVO SECTORIAL</strong></td>

								<td><strong>Peluqueria y otros</strong></td>

							</tr>

						</tbody>
					</table>

					

					<table width="1000" border="1" cellpadding="2" cellspacing="2" class="texto">

						<tbody>
							<tr>

								<td width="377" bgcolor="#CCCCCC">
									<strong>
										HORAS DEL CONVENIO ANUAL<br>

									</strong>Para empresas de más de 8    trabajadores
								</td>

								<td width="44">&nbsp;</td>

								<td width="310" bgcolor="#CCCCCC"><strong>Nº INSCRIPCION SEGURIDAD SOCIAL</strong></td>

								<td width="233">
									<strong>

										@Model.Empresa.seguridad_social
									</strong>
								</td>

							</tr>

						</tbody>
					</table>

					

					<table width="1000" border="1" cellspacing="2" cellpadding="2">

						<tbody>
							<tr>

								<td width="93" bgcolor="#CCCCCC"><strong>CNAE</strong></td>

								<td width="269">
									<strong>

										@Model.Empresa.CNAE
									</strong>
								</td>

								<td width="262" bgcolor="#CCCCCC"><strong>PLANTILLA MEDIA AÑO 2015</strong></td>

								<td width="76">&nbsp;</td>

							</tr>

						</tbody>
					</table>

					<br>

					<table width="1000" border="1" align="center" cellpadding="0" cellspacing="2" class="texto">

						<tbody>
							<tr>

								<td><strong>¿EXISTE REPRESENTACIÓN LEGAL DE LOS    TRABAJADORES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    </strong></td>

								<td>En caso    afirmativo cumplimentar documento adjunto “Información a la RLT”</td>

							</tr>

							<tr>

								<td><strong>EMPRESA DE NUEVA CREACIÓN&nbsp;&nbsp;&nbsp; No</strong></td>

								<td><strong>FECHA DE CREACIÓN : </strong></td>

							</tr>

							<tr>

								<td><strong>DIRECCIÓN DE ENTREGA DE MATERIAL</strong></td>

								<td><strong>LA MISMA</strong></td>

							</tr>

							<tr>

								<td><strong>CREDITO PARA FORMACIÓN DISPONIBLE    ANUAL</strong></td>

								<td><strong> @Model.Empresa.creditodisponible</strong></td>

							</tr>

						</tbody>
					</table>

					<br>

					<table width="1000" border="1" cellpadding="0" cellspacing="2" class="texto">

						<tbody>
							<tr>

								<td colspan="2" valign="top"><p><strong>INFORMACIÓN    PARA EL COBRO DE LA FORMACIÓN</strong></p></td>

							</tr>

							<tr>

								<td width="361" valign="top"><p><strong>BANCO    / CAJA :</strong></p></td>

								<td width="627" valign="top"><p><strong>Nº    C/C :</strong></p></td>

							</tr>

						</tbody>
					</table>

					<br>

					<table width="1000" border="1" cellpadding="2" cellspacing="2" class="texto">

						<tbody>
							<tr>

								<td colspan="4" align="center" bgcolor="#999999"><strong>DATOS DE GESTORIA</strong></td>

							</tr>

							<tr>

								<td width="246" bgcolor="#CCCCCC"><strong>PERSONA DE CONTACTO</strong></td>

								<td colspan="3">Oscar&nbsp;</td>

							</tr>

							<tr>

								<td bgcolor="#CCCCCC"><strong>EMAIL</strong></td>

								<td width="302">@Model.Empresa.email</td>

								<td width="103" bgcolor="#CCCCCC"><strong>TELEFONO</strong></td>

								<td width="313">@Model.Empresa.Telefono</td>

							</tr>

						</tbody>
					</table>

					<br>

					<table width="900" border="0" cellspacing="0" cellpadding="0">

						<tbody>
							<tr>

								<td>
									<p>
										<strong><u>ACUERDAN</u></strong><br>

										<strong><u>PRIMERO.- OBJETO</u></strong><br>

										El presente contrato tiene por  objeto regular la relación que se establece entre las empresas que van a  proporcionar formación&nbsp; a sus  trabajadores y entidad externa que tiene encomendada&nbsp; su organización de acuerdo con los artículos  10.3 y 13 del Real Decreto Ley 4/2015 de 22 de Marzo&nbsp; para la reforma Urgente del Sistema de  Formación Profesional para el Empleo en el ámbito Laboral ( en adelante Decreto  Ley) y demás normativa de aplicación en especial la Orden TAS/2307/2007 de 27  de Julio , por la que se desarrolla parcialmente el Real Decreto 395/2007 de 23  de Marzo , por el que regula el subsistema de formación profesional&nbsp; para el empleo en materia de formación de  demanda y su financiación
									</p>

									<p>
										<strong><u>SEGUNDO.-&nbsp; ENTIDAD EXTERNA </u></strong><br>

										A los efectos de este contrato de  acuerdo con lo previsto en el art 10.3 del Decreto Ley, las empresas acuerdan  encomendar la organización de la formación a la entidad externa EUROBRAZIL  INVESTIMENTS S.L.U <br>

										<br>

										2.- Asegurar el desarrollo  satisfactorio de las acciones formativas <br>

										<br>

										3.- Asegurar las funciones de  seguimiento y control y evaluación de las acciones formativas.
									</p>

									<p>
										<strong><u>TERCERO.-  OBLIGACIONES DE LA ENTIDAD EXTERNA</u></strong><br>

										Serán obligaciones de la entidad <strong><u>EUROBRAZIL INVESTMENTS S.LU</u></strong>&nbsp; las siguientes <br>

										

										1.- Comunicar el Inicio y  Finalización de la acciones formativas programadas por las empresa ante la  administración a través de los procesos telemáticos implantados por el Servicio  Público de Empleo

										<br>

										2.- Asegurar el desarrollo  satisfactorio de las acciones formativas

										<br>

										3.- Asegurar las funciones de  seguimiento , control y evaluación de las acciones formativas<br>

										4.-&nbsp;&nbsp; Asegurar la adecuación de la formación  realizada a las necesidades formativas reales de la empresa

										<br>

										5.- Contratar a entidades de  formación acreditadas y o inscritas en el Registro Estatal de Entidades de  Formación para la impartición de las actuaciones formativas, salvo en el caso  de tratarse de la misma entidad <br>

										6.- Facilitar a cada una de las  empresas que suscribe el presente contrato la documentación relacionada con la  organización y gestión e&nbsp; impartición de  las acciones formativas, así como la información necesaria para la correcta  aplicación de las bonificaciones por parte de dichas empresas <br>

										7.- Someterse a las actuaciones  de comprobación, seguimiento y control que realicen las administraciones  públicas competentes y los demás órganos&nbsp;  de control y asegurándose de su satisfactorio desarrollo.<br>

										8.- Todas aquellas obligaciones  establecidas en la Orden TAS/ 2307/2007de 23 de Julio por la que se desarrolla  parcialmente el Real Decreto 395/2007 de 23 de Marzo por el que se regula el  subsistema de formación profesional para el empleo en materia de formación de  demanda y su financiación relacionadas con la formación programada por las  empresas para las que organiza la formación de sus trabajadores <br>

										9.- Otras obligaciones que en su  caso las partes acuerden relacionadas con la planificación de las acciones  formativas&nbsp; a realizar, selección de  centros de impartición , permisos individuales&nbsp;  de formación de programación del calendario de impartición y cualquier  otra que contribuya a facilitar el desarrollo de la formación en el empleo<br>

										10. Custodiar&nbsp; el presente contrato manteniéndolo a  disposición de los órganos de control competentes, indicados en la normativa  vigente así como la restante documentación relacionada con la organización,  gestión&nbsp; e impartición de la formación  puede ser requerida por las administraciones u órganos de control competentes y  por la fundación Tripartita para la formación de Empleo <br>

										

										<strong><u>CUARTO.- OBLIGACIONES DE LAS EMPRESAS </u></strong><br>

										La empresa que suscribe este  contrato tendrán las siguientes obligaciones <br>

										

										1.- Identificar en cuenta  separada o epígrafe específico de su contabilidad&nbsp; bajo la denominación de formación Profesional  para el empleo&nbsp; todos los gastos de las  acciones formativas y permisos individuales<br>

										

										2.- Someterse&nbsp; a las actuaciones de comprobación,  seguimiento y control de las Administraciones Competentes <br>

									

										3.- Custodiar la documentación  relacionada con la organización, gestión e impartición de las acciones  formativas <br>

										facilitadas por la entidad externa, de acuerdo con los modelos  puestos a disposición por la Fundación Tripartita para la formación del Empleo <br>

										

										4.- Garantizar la gratuidad de  las acciones <br>

										

										5.- Hallarse la empresa al  corriente de pago frente a la Agencia Tributaria y Seguridad Social <br>

										

										<strong><u>QUINTO.- Costes de la Organización de la formación</u></strong><br>

										Estos costes no podrán superar el  10% del coste de la actividad formativa , si bien podrán alcanzar hasta un  máximo de un 15% en caso de acciones formativas , dirigidas a&nbsp; trabajadores de empresas que cuenten entre 6  y 9 trabajadores en plantilla y un máximo de 20% en caso de las empresas con hasta  5 trabajadores en plantilla.
									</p>

									<p>
										<strong><u>SEXTO.- ADHESION DE OTRAS EMPRESAS </u></strong><br>

										Las partes podrán acordar la  posibilidad de que otras empresas se adhieran al presente contrato. A tales  efectos, las entidades interesadas suscribirán&nbsp;  el correspondiente documento de adhesión.- Para ello se delega en la  entidad externa la facultad de representar a la empresa en la suscripción de  la adhesión en cuestión. Se podrán indicar aquí si las partes consideran  conveniente las características sector territorio plantilla etc.- que deban  concurrir en las empresas que deseen adherirse al presente contrato.<br>

										<br>

										<strong><u>SEPTIMO.- DESESTIMIENTO UNILATERAL</u></strong> ,. Cualquier empresa que  haya suscrito el contrato podrá desistir del mismo con anterioridad de su  finalización, sin perjuicio de las obligaciones contraídas durante su vigencia.<br>

										Lo anterior deberá instrumentarse  Jurídicamente mediante documento firmado por ambas partes <br>

										<br>

										<strong><u>OCTAVO.- PROTECCION DE DATOS &nbsp;&nbsp;</u></strong>&nbsp;Los firmantes del presente contrato  garantizarán el cumplimiento de lo establecido en la Ley Orgánica 15/1999 de 13  de Diciembre de protección de datos de carácter personal asumiendo las  obligaciones y responsabilidades que se derivan de la misma y de la suscripción  del presente documento.<br>

										<br>

										Todos los datos de carácter  personal que se comuniquen por razón de objeto de este contrato tendrán  carácter confidencial y serán utilizados exclusivamente para los propósitos del  contrato, sin que se puedan aplicar a un fin distinto ni tampoco&nbsp; comunicarlos, ni siquiera para su mera  conservación, a&nbsp; otras personas. Esta  obligación se mantendrá vigente incluso después de laterminación de la vigencia  del contrato, por cualquier razón que fuere .

										<br>

										Las partes adoptarán las medidas  de índole técnica y organizativas necesarias que garanticen la seguridad de los  datos y evite su alteración , pérdida, tratamiento o acceso no autorizado ,  habida cuenta del estado de la tecnología , la naturaleza de los datos  almacenados y los riesgos que están expuestos, ya provengan&nbsp; de la acción humana o&nbsp; del medio físico o natural.<br>

										<br>

										<strong><u>NOVENO.</u>- Entrada en Vigor y vigencia del contrato</strong><br>

										<br>

										El presente contrato entrará en  Vigor el día de su firma por las partes<br>

										<br>

										En&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; BARCELONA &nbsp;&nbsp;&nbsp; a&nbsp; 08&nbsp;&nbsp;&nbsp; de @DateTime.Now.Month &nbsp;  de @DateTime.Now.Month
									</p>
								</td>

							</tr>

						</tbody>
					</table>

					

					<table border="1" cellspacing="0" cellpadding="0" width="1000">

						<tbody>
							<tr>

								<td width="329" valign="top">
									<p>&nbsp;</p>

									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>&nbsp;</p>

									<p>
										Nombre y apellidos @Model.Empresa.Nombrereprensentante<br>

										DNI&nbsp; @Model.Empresa.nifrepresentante
									</p>
								</td>

								<td width="343" valign="top" align="center">

									<img src="https://localhost:44335/PRL/firma.png" width="423" height="200">

									<br>

									DNI&nbsp;&nbsp;&nbsp; 37636273 Q<p></p>
								</td>

							</tr>

							<tr>

								<td width="329" valign="top"><p>FIRMA (Por representante legal de la empresa)</p></td>

								<td width="343" valign="top"><p>FIRMA (Por representante legal de la entidad    externa)</p></td>

							</tr>

						</tbody>
					</table>
				</td>

			</tr>

			<tr>

				<td align="center">&nbsp;</td>

			</tr>

		</tbody>
	</table>




	<div style="page-break-before:always; page-break-after:always; color:white;">pagebreak</div>



	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>ADHESION</title>
	<link href="css/estilo2.css" rel="stylesheet" type="text/css">



	<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="texto">

		<tbody>
			<tr>
				<td align="center">
					<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
					<table width="800" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td align="left"><img src="https://localhost:44335/PRL/tri2.PNG" width="250" height="75"></td>
								<td align="left"><img src="https://localhost:44335/PRL/EBR-.jpg" width="216" height="100"></td>
								<td align="right"><img src="https://localhost:44335/PRL/euro.jpg" width="126" height="100"></td>
							</tr>
						</tbody>
					</table>
					<p>&nbsp;</p>
					<table width="900" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td width="760" align="right">Nº de Orden </td>
								<td width="140">
									<table width="100" border="1" cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
												<td align="center">901</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<br>
					<table width="1000" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td><p><strong>DOCUMENTO  DE ADHESIÓN AL CONTRATO DE ENCOMIENDA DE ORGANIZACIÓN DE LA FORMACIÓN SUSCRITO  ENTRE EMPRESAS AL AMPARO DE LA LEY 30/2015, DE 9 DE SEPTIEMBRE, POR LA QUE SE REGULA EL SISTEMA DE FORMACIÓN  PROFESIONAL PARA EL EMPLEO EN  EL ÁMBITO LABORAL, SUSCRITO ENTRE <u>EUROBRAZIL INVESTMENTS S.L.U</u> Y OTRAS.</strong></p></td>
							</tr>
						</tbody>
					</table>
					<br>
					<table width="900" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td align="center">
									D/Dña
									<strong>
										@Model.Empresa.Nombrereprensentante
									</strong>
									, con NIF
									<strong>
										@Model.Empresa.Nif
									</strong> ,<br>
									como representante  legal de la  empresa
									<strong>
										@Model.Empresa.Nombre_Empresa
									</strong> ,
									con CIF
									<strong>
										@Model.Empresa.Nif
									</strong>        &nbsp;<br>
									y domiciliada en (
									@Model.Empresa.Direccion,
									@Model.Empresa.Provincia,
									BARCELONA ),<br>
									circunstancia que se  acredita mediante escritura…
								</td>
							</tr>
						</tbody>
					</table>
					<p>&nbsp;</p>
					<br>
					<table width="900" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td>
									<p><strong>DECLARA</strong></p>
									<p>
										-&nbsp;&nbsp; Que la empresa
										<strong>@Model.Empresa.Nombre_Empresa</strong>
										está interesada en su adhesión al contrato suscrito  entre &nbsp;<strong><u>EUROBRAZIL INVESTMENTS S.L.U</u></strong>&nbsp;, como &nbsp;entidad  &nbsp;externa &nbsp;y &nbsp;las &nbsp;empresas&nbsp; que &nbsp;en &nbsp;él &nbsp;se relacionan, para la organización  de la formación programada  en dichas  empresas al amparo de la Ley 30/2015, de 9 de  septiembre, por la que se regula el  Sistema de Formación Profesional para el empleo en el ámbito  laboral.
									</p>
									<p>-&nbsp;&nbsp; Que conoce el contenido de las condiciones y obligaciones incluidas en el  referido contrato.</p>
									<p>-&nbsp;&nbsp; Que por el presente  documento acepta las obligaciones  y derechos que en dicho contrato se contienen y se adhiere al mismo desde la fecha de su firma,  momento en el que empezarán  a surtir sus efectos.</p>
									<p>&nbsp;</p>
									<p>
										Lugar y Fecha:<br>
										En&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; BARCELONA &nbsp;&nbsp;&nbsp; a&nbsp; @DateTime.Now.Day &nbsp;&nbsp;&nbsp; de @DateTime.Now.Month &nbsp;  de @DateTime.Now.Year
									</p>
								</td>
							</tr>
						</tbody>
					</table>
					<p>&nbsp;</p>
					<table border="1" cellspacing="0" cellpadding="0" width="1000">
						<tbody>
							<tr>
								<td width="329" valign="top">
									<p>&nbsp;</p>

									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>
										Nombre y apellidos
										@Model.Empresa.Nombrereprensentante              <br>
										DNI&nbsp;
										@Model.Empresa.nifrepresentante
									</p>
								</td>
								<td width="343" valign="top" align="center">
									<img src="https://localhost:44335/PRL/firma.png" width="423" height="176">
									<br>
									DNI&nbsp;&nbsp;&nbsp; 37636273 Q<p></p>
								</td>
							</tr>
							<tr>
								<td width="329" valign="top"><p>FIRMA (Por representante legal de la empresa)</p></td>
								<td width="343" valign="top"><p>FIRMA (Por representante legal de la entidad    externa)</p></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td align="center">&nbsp;</td>
			</tr>
		</tbody>
	</table>

	<div style="page-break-before:always; page-break-after:always; color:white;">pagebreak</div>






	<meta http-equiv="Content-type" content="text/html; charset=utf-8">





	<title>Documento sin tí­tulo</title>

	<link href="css/estilo.css" rel="stylesheet" type="text/css">











	<div>

		<table width="100%" border="0" cellspacing="0" cellpadding="0">

			<tbody>
				<tr>
				</tr>
			</tbody>
		</table><table width="100%" border="0" cellspacing="0" cellpadding="0">

			<tbody>
				<tr>

					<td width="590" align="center">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img width="250" height="100" src="https://localhost:44335/PRL/tri2.PNG">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img width="216" height="100" src="https://localhost:44335/PRL/EBR-.jpg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img width="126" height="100" src="https://localhost:44335/PRL/euro.jpg"><br>

						<strong>
							<br>

							SOLICITUD&nbsp; DE CURSO <br>

							<br>

							del @Model.Curso.Inicio.Day
							de @Model.Curso.Inicio.Month
							al @Model.Curso.Final.Day de @Model.Curso.Final.Month del @Model.Curso.Final.Year

							<br>

							<br>

						</strong>

						<table width="100%" border="0" cellspacing="0" cellpadding="0">

							<tbody>
								<tr>

									<td>
										<table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" class="texto2">

											<tbody>
												<tr>

													<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>EMPRESA</strong></td>

													<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>CIF</strong></td>

												</tr>

												<tr>

													<td align="center" nowrap="nowrap">@Model.Empresa.Nombre_Empresa&nbsp;</td>

													<td align="center" nowrap="nowrap">@Model.Empresa.Nif</td>

												</tr>

											</tbody>
										</table>
									</td>





								</tr>
								<tr>
									<td>
										<table width="100%" border="1" cellpadding="0" cellspacing="0" class="texto2">

											<tbody>
												<tr>

													<td align="center" bgcolor="#CCCCCC"><strong>REF. </strong></td>

													<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>CURSO</strong></td>

													<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>MOD.</strong></td>

													<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>PRECIO/H</strong></td>

													<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>HORAS CURSO</strong></td>

													<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>TOTAL CURSO</strong></td>

												</tr>

												<tr>

													<td align="center" valign="top"></td>

													<td align="center" nowrap="nowrap">
														@Model.Curso.CursoNome
														<br>
													</td>

													<td align="center" nowrap="nowrap">&nbsp;“T.F.”</td>

													<td align="center" nowrap="nowrap">7.5€</td>

													<td align="center" nowrap="nowrap">
														30
														H
													</td>

													<td align="center" nowrap="nowrap">@Model.Empresa.creditodisponible</td>

												</tr>

											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>

						<br>

						<table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" class="texto2">

							<tbody>
								<tr>

									<td align="center" bgcolor="#CCCCCC"><p align="center"><strong>NIF</strong></p></td>

									<td align="center" bgcolor="#CCCCCC"><strong>Nombre</strong><strong></strong> <strong>Completo</strong></td>

									<td align="center" bgcolor="#CCCCCC"><strong>Nº    Seguridad</strong><br><strong> Social</strong></td>

									<td align="center" bgcolor="#CCCCCC"><strong>Fecha de Nascimiento</strong></td>

									<td align="center" bgcolor="#CCCCCC"><strong>Sexo</strong></td>

									<td align="center" bgcolor="#CCCCCC"><strong>Discap.</strong></td>

									<td align="center" bgcolor="#CCCCCC"><strong>Área</strong></td>

									<td align="center" bgcolor="#CCCCCC"><strong>Categoría</strong></td>

									<td align="center" bgcolor="#CCCCCC"><strong>G.    Cotización</strong></td>

									<td align="center" bgcolor="#CCCCCC"><strong>Estudios</strong></td>

								</tr>

								@foreach (var item in Model.Trabajadores)
								{
								<tr>

									<td width="117" align="center" height="30">@item.TrabajadorNif</td>

									<td align="center">@item.TrabajadorNome</td>

									<td align="center">@item.SeguridadSocial</td>

									<td align="center">@item.FechaTrabajador</td>

									<td width="75" align="center"></td>

									<td width="50" align="center">NO</td>

									<td width="44" align="center"></td>

									<td width="92" align="center"></td>

									<td width="105" align="center">8</td>

									<td width="67" align="center">BASICOS</td>

								</tr>

								}






							</tbody>
						</table>

						<br>

						<table width="600" border="0" align="right" cellpadding="2" cellspacing="2" class="texto2" style="margin-top: 15%">

							<tbody>
								<tr>

									<td align="center">FIRMA Y SELLO DEL  REPRESENTANTE LEGAL DE LA EMPRESA</td>

								</tr>

								<tr>

									<td align="center">
										Fdo.  ­

										@Model.Empresa.Nombrereprensentante
										&nbsp;
									</td>

								</tr>

								<tr>

									<td align="center">En Barcelona a @DateTime.Now.Day de @DateTime.Now.Month del @DateTime.Now.Year &nbsp;&nbsp;&nbsp;&nbsp;</td>

								</tr>

							</tbody>
						</table>
					</td>

				</tr>

			</tbody>
		</table>
	</div>




	<div style="page-break-before:always; page-break-after:always; color:white;">pagebreak</div>










	<meta http-equiv="Content-type" content="text/html; charset=utf-8">

	<!--

	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />-->



	<title>Documento sin título</title>



	<link href="css/estilo.css" rel="stylesheet" type="text/css">





















	<table width="590" border="0" cellspacing="0" cellpadding="0">



		<tbody>
			<tr>



				<td width="590" align="center">
					<img width="216" height="100" src="https://localhost:44335/PRL/EBR-.jpg"><br>



					<h3>INICIO: @Model.Curso.Inicio   FIN: @Model.Curso.Final</h3>



					<strong>
						<br>



						<br>



						SOLICITUD DE CURSO -
					</strong><span class="texto2"><em><strong>SIN COSTO</strong></em></span><strong>
						<br>



						<br>



					</strong>



					<table width="590" border="0" cellspacing="0" cellpadding="0">



						<tbody>
							<tr>



								<td>
									<table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" class="texto2">



										<tbody>
											<tr>



												<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>EMPRESA</strong></td>



												<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>CIF</strong></td>



											</tr>



											<tr>



												<td align="center" nowrap="nowrap">@Model.Empresa.Nombre_Empresa &nbsp;</td>



												<td align="center" nowrap="nowrap">@Model.Empresa.Nif</td>



											</tr>



										</tbody>
									</table>
								</td>



								<td width="10">&nbsp;</td>







							</tr>

							<tr>
								<td>
									<table width="990" border="1" cellpadding="0" cellspacing="0" class="texto2">



										<tbody>
											<tr>



												<td align="center" bgcolor="#CCCCCC"><strong>REF. </strong></td>



												<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>CURSO</strong></td>



												<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>MOD.</strong></td>



												<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>PRECIO/H</strong></td>



												<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>HORAS CURSO</strong></td>



												<td align="center" nowrap="nowrap" bgcolor="#CCCCCC"><strong>TOTAL CURSO</strong></td>



											</tr>



											<tr>



												<td align="center" valign="top"></td>



												<td align="center" nowrap="nowrap">
													@Model.Curso.CursoNome


													<br>
												</td>



												<td align="center" nowrap="nowrap">&nbsp;“T.F.”</td>



												<td align="center" nowrap="nowrap">7,5 €</td>



												<td align="center" nowrap="nowrap">30H</td>



												<td align="center" nowrap="nowrap">&nbsp;</td>



											</tr>



										</tbody>
									</table>
								</td>

							</tr>
						</tbody>
					</table>



					<br>



					<table width="100%" border="1" align="left" cellpadding="0" cellspacing="0" class="texto2">



						<tbody>
							<tr>



								<td width="117" align="center" bgcolor="#CCCCCC"><p align="center"><strong>NIF</strong></p></td>



								<td width="501" align="center" bgcolor="#CCCCCC"><strong>Nombre</strong><strong></strong> <strong>Completo</strong></td>



							</tr>






							<tr>



								<td width="117" align="center" nowrap="nowrap">44192844T</td>



								<td align="center" nowrap="nowrap">JORDI PUIG NAVARRO</td>



							</tr>











							<tr>



								<td align="center" nowrap="nowrap">&nbsp;</td>



								<td align="center" nowrap="nowrap">&nbsp;</td>



							</tr>



							<tr>



								<td align="center" nowrap="nowrap">&nbsp;</td>



								<td align="center" nowrap="nowrap">&nbsp;</td>



							</tr>



						</tbody>
					</table>



					<br>



					<br>



					<table width="600" style="margin-top: 20%" border="0" align="right" cellpadding="2" cellspacing="2" class="texto2">



						<tbody>
							<tr>



								<td align="center">FIRMA Y SELLO DEL  REPRESENTANTE LEGAL DE LA EMPRESA</td>



							</tr>



							<tr>



								<td align="center">
									Fdo.



									@Model.Empresa.Nombrereprensentante


								</td>



							</tr>



							<tr>



								<td align="center">En BARCELONA a @DateTime.Now.Day de @DateTime.Now.Month del @DateTime.Now.Year</td>



							</tr>



						</tbody>
					</table>
				</td>



			</tr>



		</tbody>
	</table>










	<div style="page-break-before:always; page-break-after:always; color:white;">pagebreak</div>



	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<!--<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />-->
	<title>Documento sin título</title>
	<style type="text/css">
		.nombre {
			font-size: 28px;
		}

		.nombre2 {
			font-size: 18px;
		}

		#subverde {
			background-color: green;
			color: white;
		}

		#subred {
			background-color: red;
			color: white;
		}

		#subamarillo {
			background-color: yellow;
		}
	</style>


	<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td align="center">
					<table width="1000" border="1" cellpadding="0" cellspacing="0" class="nombre2">
						<tbody>
							<tr>
								<td colspan="2" valign="top">
									<p align="center">
										CURSO DE:<br>
										@Model.Curso.CursoNome<br>
										Modalidad : Teleformación
									</p>
								</td>
							</tr>
							<tr>
								<td colspan="2" align="center" valign="top">
									<p>
										del
										@Model.Curso.Inicio.Day
										de @Model.Curso.Inicio.Month al @Model.Curso.Final.Day de @Model.Curso.Final.Month del @Model.Curso.Final.Year
									</p>
								</td>
							</tr>
							<tr>
								<td width="259" align="center" valign="top" bgcolor="#CCCCCC"><strong>EMPRESA: </strong></td>
								<td width="735" align="center" valign="top" bgcolor="#0000ff">
									<strong>
										<font color="#FFFFFF">
											@Model.Empresa.Nombre_Empresa
										</font>
									</strong>
								</td>
							</tr>
						</tbody>
					</table>
					<p class="nombre" style="margin: 0px">      Para acceder a la formación es necesario entrar en:</p>
					<font size="+3"><strong>http://euroformacio.net/</strong></font><br>
					<br>
					<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
						<tbody>
							<tr class="nombre">
								<td align="center" bgcolor="#CCCCCC">Usuario</td>
								<td align="center" bgcolor="#CCCCCC">Contraseña*</td>
								<td align="center" bgcolor="#CCCCCC">Horas</td>
							</tr>
							@foreach (var item in Model.Trabajadores) {
							<tr class="nombre2">
								<td align="center">@item.TrabajadorNif</td>
								<td align="center">@item.TrabajadorNif</td>
								<td align="center">30 (Pero 24 Horas EXIGIBLES)</td>
							</tr>
							}
						</tbody>
					</table>
					<br>
					<a class="nombre">  *Usuario y Contraseña compuesta por el <strong> DNI/NIE con la letra en MAYUSCULA</strong></a><br>
					<span class="nombre">
						<br>
					</span>
					r
					<table width="1000" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td align="center" bgcolor="#FFFF00"><span class="nombre"><strong>Si<strong> tiene problemas o dudas   estamos en el telefono 61 141 25 35 (Soporte Tecnico)</strong></strong></span></td>
							</tr>
						</tbody>
					</table>
					<span class="nombre2">
						<br>
						EMPRESA ORGANIZADORA
						<p></p>
					</span>
					<table width="1000" border="1" cellpadding="0" cellspacing="0" class="nombre2">
						<tbody>
							<tr>
								<td width="206" align="center" valign="middle"><p><img width="170" height="78" src="https://localhost:44335/PRL/EBR-.jpg"></p></td>
								<td width="788" valign="top">
									<p align="center">
										EUROBRAZIL INVESTMENTS    S.L.<br>
										CIF B66335472<br>
										Gran Via de les Corts Catalanes 584 1 2 -
										08011 BARCELONA Teléfono  93 454 60 78 // 656 38 60 02 <a href="mailto:eurobrazilinvestments@gmail.com">eurobrazilinvestments@gmail.com</a>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td align="center">&nbsp;</td>
			</tr>
		</tbody>
	</table>
	<div align="center" class="nombre">
		<div>
			Estos son los pasos para realizar el curso <strong>cada día hasta la finalización:</strong>
		</div>
		<br>
		<br>
		<div>
			1. Abrir el navegador (web o móvil) y entrar en <br><strong><a href="WWW.EUROFORMACIO.NET">http://euroformacio.net/</a></strong>
		</div>
		<br>
		<div>
			2. Acceder:
			<br>
			Usuario = DNI/NIE trabajador (Letras mayúsculas)
			<br>
			Contraseña = DNI/NIE trabajador (Letras mayúsculas)
		</div>
		<br>
		<br>
		<div>
			3. Hacer clic en el curso <br><a id="subverde">Prevención de Riesgos Laborales en Peluquerias</a>
		</div>
		<br>
		<br>
		<div>
			4. Hacer clic en el Tema que quieres hacer <br><a style="color: #fff;
	font-size: 11px;
	font-weight: 700;
	background-color: #aeda49;
	padding: 0.05rem 0.7rem;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
">START</a>
		</div>
		<br>
		<br>
		<div>
			5. Cuando acabe la sesión del día (3 o 4 horas después) apretar el botón <br>
			<p><img width="170" height="78" src="https://localhost:44335/PRL/boton.PNG"></p>
		</div>
		<br>
		<br>
		<div>
			6. <strong>El último día</strong>, y cuando tengan las horas minimas de formación (24 Horas), hacer clic en el botón <br> <a style="color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;">EXAMEN</a> <br> Y responder las preguntas del examen.
		</div>
	</div>

</body>