@model Plataforma.ViewModels.EmpresasIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div style="display:flex;justify-content:space-between">
    <h1>Empresas participantes - @Model.anoatual</h1>
    
    <form method="post" asp-action="Index" >
        
            <!select asp-for="anos" name="anos" id="mytable" selected="@Model.anoatual">
                @foreach (var item in Model.anos)
                {
                    if (Model.anoatual == @item.ano)
                    {
                    <option value="@item.ano" selected>@item.ano</option>
                    }
                    else
                    {
                    <option value="@item.ano">@item.ano</option>
                    }
                }
            </!select>
        
        <input type="submit" class="btn btn-info " value="Cambiar Año" style="height: 40px"/>
    </form>
</div>
    <p>
        <a asp-action="Create">Añadir Empresa</a>
    </p>
    


<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF
           
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
        <h2>Enero</h2>
        @{ var numero = 0;}
        @foreach (var item in Model.Enero)
        {
            numero++;
            <tr class="@item.Nif">

                <td>
                    E-@numero @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>

                </td>
            </tr>
            @if (item.Final <= ((DateTime.Now).AddDays(3)) && item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>
    <tbody>
     
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h2>Febrero</h2>
        @{var numero2 = 0; }
        @foreach (var item in Model.Febrero)
        {
            numero2++;
            <tr class="@item.Nif">
                <td>
                    F-@numero2
                    @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>


                </td>
            </tr>
            @if (item.Final <= ((DateTime.Now).AddDays(3)) && item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>
    
</table>

<script>

</script>