@model Plataforma.ViewModels.EmpresasIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div style="display:flex;justify-content:space-between">
    <h1>Empresas participantes - @Model.anoatual</h1>
    
    <form method="post" asp-action="Index" >
        
            <!select asp-for="anos" name="anos" id="mytable" selected="@Model.anoatual">
                @foreach (var item in Model.anos)
                {
                    if (Model.anoatual == @item.ano)
                    {
                    <option value="@item.ano" selected>@item.ano</option>
                    }
                    else
                    {
                    <option value="@item.ano">@item.ano</option>
                    }
                }
            </!select>
        
        <input type="submit" class="btn btn-info " value="Cambiar Año" style="height: 40px"/>
    </form>
</div>
    <p>
        <a asp-action="Create">Añadir Empresa</a>
    </p>
    


<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF
           
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
        <h2>Enero</h2>
        @{ var numero = 0;}
        @foreach (var item in Model.Enero)
        {
            numero++;
            <tr class="@item.Nif">

                <td>
                    E-@numero @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>

                </td>
            </tr>
            @if (item.Final.Date <= ((DateTime.Now).AddDays(3)) || item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>
    <tbody>
     
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h2>Febrero</h2>
        @{var numero2 = 0; }
        @foreach (var item in Model.Febrero)
        {
            numero2++;
            <tr class="@item.Nif">
                <td>
                    F-@numero2
                    @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>


                </td>
            </tr>
            @if (item.Final <= ((DateTime.Now).AddDays(3)) && item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>
    
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h2>Marzo</h2>
        @{var numero3 = 0; }
        @foreach (var item in Model.Marzo)
        {
            numero3++;
            <tr class="@item.Nif">
                <td>
                    M-@numero3
                    @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>


                </td>
            </tr>
            @if (item.Final <= ((DateTime.Now).AddDays(3)) && item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>

</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h2>Abril</h2>
        @{var numero4 = 0; }
        @foreach (var item in Model.Abril)
        {
            numero4++;
            <tr class="@item.Nif">
                <td>
                    AB-@numero4
                    @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>


                </td>
            </tr>
            @if (item.Final <= ((DateTime.Now).AddDays(3)) && item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>

</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h2>Mayo</h2>
        @{var numero5 = 0; }
        @foreach (var item in Model.Mayo)
        {
            numero5++;
            <tr class="@item.Nif">
                <td>
                    MG-@numero5
                    @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>


                </td>
            </tr>
            @if (item.Final <= ((DateTime.Now).AddDays(3)) && item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>

</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF

            </th>
            <th></th>
           <th>Fin de Curso</th>
        </tr>
    </thead>
    <tbody>
        <h2>Junio</h2>
        @{var numero6 = 0; }
        @foreach (var item in Model.Junio)
        {
            numero6++;
            <tr class="@item.Nif">
                <td>
                    JN-@numero6
                    @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar </a>

                    
                </td>
                <td>
                    @if (@item.Final.Date.ToString("MM dd yyy") == "01 01 001") {


<b>
                        Sin Curso
                    </b>
                    }
                    else
                    {
                <b> @item.Final.Date.ToString("MM dd yyy")</b>
                    }
                    </td>
            </tr>
            @if (@item.Final <= (DateTime.Now.AddDays(3)))
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else if (item.Final >= (DateTime.Now.AddDays(3)))
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>

</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h2>Julio</h2>
        @{var numero7 = 0; }
        @foreach (var item in Model.Julio)
        {
            numero7++;
            <tr class="@item.Nif">
                <td>
                    JL-@numero7
                    @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>


                </td>
            </tr>
            @if (item.Final <= ((DateTime.Now).AddDays(3)) && item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>

</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h2>Agosto</h2>
        @{var numero8 = 0; }
        @foreach (var item in Model.Agosto)
        {
            numero8++;
            <tr class="@item.Nif">
                <td>
                    AG-@numero8
                    @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>


                </td>
            </tr>
            @if (item.Final <= ((DateTime.Now).AddDays(3)) && item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>

</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h2>Septiembre</h2>
        @{var numero9 = 0; }
        @foreach (var item in Model.Setembro)
        {
            numero9++;
            <tr class="@item.Nif">
                <td>
                    S-@numero9
                    @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>


                </td>
            </tr>
            @if (item.Final <= ((DateTime.Now).AddDays(3)) && item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>

</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h2>Octubre</h2>
        @{var numero10 = 0; }
        @foreach (var item in Model.Outubro)
        {
            numero10++;
            <tr class="@item.Nif">
                <td>
                    O-@numero10
                    @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>


                </td>
            </tr>
            @if (item.Final <= ((DateTime.Now).AddDays(3)) && item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>

</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h2>Noviembre</h2>
        @{var numero11 = 0; }
        @foreach (var item in Model.Novembro)
        {
            numero11++;
            <tr class="@item.Nif">
                <td>
                    N-@numero11
                    @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>


                </td>
            </tr>
            @if (item.Final <= ((DateTime.Now).AddDays(3)) && item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>

</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Empresa
            </th>
            <th>
                Nombre Comercial
            </th>
            <th>
                NIF

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h2>Deciembre</h2>
        @{var numero12 = 0; }
        @foreach (var item in Model.Dezembro)
        {
            numero12++;
            <tr class="@item.Nif">
                <td>
                    D-@numero12
                    @Html.DisplayFor(modelItem => item.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Datos</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>


                </td>
            </tr>
            @if (item.Final <= ((DateTime.Now).AddDays(3)) && item.Final > DateTime.Now)
            {
                <style>
                .@item.Nif {
                    background-color: coral;
                }
                </style>

            }
            else
            {
                <style>
                    .@item.Nif {
                        background-color: darkseagreen;
                    }
                </style>

            }
            @if (item.venta == false)
            {
                <style>
                    .@item.Nif {
                        color: red;
                        font-weight: 600;
                    }
                </style>
            }
        }
    </tbody>

</table>